<div class="wrapper">
    <div class="main">
        <div class="head">
            <div class="logo">
                <img src="../../../../asset/img/login1.png" alt="">
            </div>
            <div class="but">
                <span class="ukeyTab active">UKEY登录</span>
                <span class="phoneTab">手机号登录</span>
            </div>
        </div>
        <div class="mainbody">
            <div class="ukey">
                <h2>欢迎<span>登录</span></h2>
                <ul>
                    <li class="active">
                        <div><input id="userName" type="text" placeholder="请输入用户名"></div>
                        <div><input id="passwd" type="password" placeholder="请输入密码"></div>
                    </li>
                    <li>
                        <div class="phoneTab">
                            <div>
                                <!--<input id="userName" type="text" placeholder="请输入用户名">-->
                                <select name="" id="seleBook">
                                    <option value="">-------------------<b>选择证书</b>-------------------</option>
                                    <option value="">证一</option>
                                    <option value="">证二</option>
                                    <option value="">证三</option>
                                </select>
                                
                            </div>
                            <div><input id="pinwd" type="password" placeholder="PIN码"></div>
                        </div>
                    </li>
                </ul>
                <div class="buttonTab">
                    <button class="" id="login">立即登录</button>
                    <button class="" id="goregister">注册账号</button>
                </div>
                <div class="btnA">
                    <a href="#" class="drive">驱动中心</a>
                    <a href="#" class="help">帮助中心</a>
                </div>
            </div>

        </div>
    </div>
    <script>
        $(".head div.but").on("click", "span", function () {
            $(this).addClass("active").siblings().removeClass("active");
            $(".mainbody ul li").eq($(this).index()).addClass("active").siblings().removeClass("active");
        })
    </script>
</div>
<style>
    html,
    body {
        height: 100%;
        font-family: "微软雅黑";
    }

    .wrapper {
        width: 100%;
        min-height: 700px;
        height: 100%;
        background: url('../../../../asset/img/login2.jpg') no-repeat center center/auto auto;
    }

    .wrapper .main {
        width: 796px;
        height: 509px;
        background: #fff;
        margin: 0 auto;
        position: relative;
        top: 140px;
    }

    .wrapper .main .head {
        border-bottom: 4px solid #48BAF1;
        height: 101px;
    }

    .wrapper .main .head .logo {
        float: left;
        height: 101px;
        line-height: 101px;
        padding-left: 38px;
    }

    .wrapper .main .head .but {
        float: right;
        margin: 64px 22px 0 0;
    }

    .wrapper .main .head .but span {
        cursor: pointer;
        margin-left: 40px;
        font-size: 16px;
        font-family: "微软雅黑";
        font-weight: bold;

        display: inline-block;
        height: 37px;
        width: 112px;
        text-align: center;
    }

    .wrapper .main .head .but span.active {
        cursor: default;
        border-bottom: 6px solid #0cabfd;
        color: #0cabfd;
    }

    .mainbody li {
        display: none;
        text-align: center
    }

    .mainbody li.active {
        display: block
    }

    .mainbody .ukey h2 {
        font-size: 37px;
        color: #00acff;
        text-align: center;
        letter-spacing: 12px;
        margin: 36px 0 30px 0;
    }

    .mainbody .ukey h2 span {
        color: #333
    }

    .mainbody .ukey input {
        border: 0;
        border-bottom: 1px solid #b2b2b2;
        width: 370px;
        padding: 12px 0 12px 38px;
        margin-bottom: 18px;
    }
    .phoneTab select{
        border: 0;
        border-bottom: 1px solid #b2b2b2;
        width: 370px;
        padding: 12px 0 12px 38px;
        margin-bottom: 18px;
}
.phoneTab select option span{padding: 0 10px;}
    .mainbody #seleBook {
        background: url('../../../../asset/img/login3.png') no-repeat -2px 6px;
    }
    .mainbody #userName {
        background: url('../../../../asset/img/login3.png') no-repeat -2px -82px;
    }

    .mainbody #passwd,#pinwd {
        background: url('../../../../asset/img/login3.png') no-repeat -2px -43px;
    }

    .buttonTab {
        width: 370px;
        margin: 20px auto 0;
        overflow: hidden;
    }

    .mainbody .ukey #login {
        height: 46px;
        line-height: 46px;
        width: 180px;
        background: #0cabfd;
        color: #fff;
        border: 0;
        float: left;
    }

    .mainbody .ukey #goregister {
        height: 46px;
        line-height: 46px;
        width: 180px;
        background: #d5dcf1;
        color: #989898;
        border: 0;
        float: right;
    }

    .btnA {
        width: 370px;
        margin: 63px auto 0;
    }

    .btnA a:hover {
        text-decoration: none;
    }

    .btnA .drive {
        float: left;
        color: #666;
    }

    .btnA .help {
        float: right;
        color: #00acff;
    }
</style>

<!--<div class="wrapper">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          {{each list}}
            <li>
              <a href="#{{$value.url}}">{{$value.name}}
              </a>
            </li>
          {{/each}}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container"></div>
</div>-->