.main{ padding: 20px;}

@charset "utf-8";
body { background: #f6f6f6; overflow-y: scroll;font-family: "Microsoft YaHei", "微软雅黑", "MicrosoftJhengHei"; }
ul { list-style: none; padding: 0; margin: 0; }
.placeholder { font-size: 14px; }
.page-kd { width: 1100px; margin-left: auto; margin-right: auto; }
.boxshow { background: #fff; border-radius: 4px; box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.05); }
/* 按钮*/
.btn.btn-ay { color: #fff; background-color: #00acff; border-color: #00acff; }
.btn.btn-ay:hover { color: #fff; background-color: #009bfe; border-color: #009bfe; }
.btn.btn-ay.focus,
.btn.btn-ay:focus { color: #fff; background-color: #0095fe; border-color: #0095fe; }
.btn.btn-ay[disabled] { border:1px solid #bdbdbd; background-color: #ccc; color:#7f7f7f; }

/* 底部 */
.wrapper { min-height: 100%; padding-bottom: 80px; }
.wrapper .container { min-width: 1100px; padding: 0 }
.reg-bottom {position: absolute;bottom:0; margin-top: -46px;background: #424242; height: 46px; padding: 16px 0; font-size: 14px; color: #fff; width: 100%; min-width: 1100px; }
.reg-bottom .link { float: left; line-height:14px; }
.reg-bottom .link a { letter-spacing: 1px; margin-right: 20px; margin-left: 20px; line-height: 14px; color: #fff; font-size: 14px; }
.reg-bottom .link em { font-style: normal; background: #fff; height: 14px; width: 1px; display: inline-block; vertical-align: -2px; }
.reg-bottom .copyright { text-align: right; line-height:14px; margin-right: 20px; }

/* 用户后台管理头部菜单*/
.u-head { background: #0073bd; height: 80px; width: 100%; min-width: 1100px; padding-top:12px; }
.u-head .page-kd { position: relative; }
.u-head .top-logo { background: url(../../asset/img/ay-logo.png) no-repeat 0 -60px; height: 54px; width: 143px; display: block; margin: 0px; }
.u-head .hide-text { overflow: hidden; text-indent: 100%; white-space: nowrap; font-size: 14px; }
.u-head .rightbox { position: absolute; top: 12px; right: 0; height: 32px; z-index: 1; text-align: right; display: block; overflow: hidden; }
.u-head .rightbox ul { list-style: none; display: inline-block; font-size: 0px; margin: 0; padding: 0; vertical-align: top; *float: left; }
.u-head .rightbox ul li { display: inline-block; font-size: 0px; vertical-align: top; *float: left; }
.u-head .rightbox ul li a { font-size: 14px; color: #fff; text-decoration: none; display: block; -webkit-transition: all .3s; transition: all .3s; }
.u-head .rightbox .menu li { margin-right: 24px; }
.u-head .rightbox .menu li a { line-height: 30px; height: 32px; width: 102px; display: block; text-align: center; }
.u-head .rightbox .menu li a:hover { background: #0095fe; border-radius: 6px; }
.u-head .rightbox .menu li a.active { background: #0466a4; border-radius: 6px; }
.u-head .rightbox .utool { margin-left: -20px; }
.u-head .rightbox .utool li { margin-left: 38px; }
.u-head .rightbox .utool li a.locked span { width: 24px; height: 24px; background: url(../../asset/img/bg-all.png) no-repeat 0 -266px; display: block; margin: 4px 6px; }
.u-head .rightbox .utool li a.tools span { width: 24px; height: 24px; background: url(../../asset/img/bg-all.png) no-repeat -24px -266px; display: block; margin: 4px 6px;}
.u-head .rightbox .utool li a.logout { width: 62px; height: 28px; border: solid 1px #fff; border-radius: 4px; text-align: center; line-height: 26px; margin-top: 2px; margin-left: 10px; }
.u-head .rightbox .utool li a:hover { background: #0466a4; }
.u-head .rightbox .utool li a:hover.locked,
.u-head .rightbox .utool li a:hover.tools { border-radius: 4px; }
ul.pagination li.no a { cursor: not-allowed; background: #eee; color: #999;  }

/*主体的css*/
.contents{width: 1100px; margin:20px  auto; }


   .error {
       color: red;
       text-align: left;
       padding-left: 0px;
       height: 20px;
       position: relative;
       top: -16px;
   }
   
   html,
   body {
       height: 100%;
       font-family: "微软雅黑";
       font-size: 14px;
   }
   
   input,
   select {
       outline: none;
   }
   
   .wrapper {
       position: relative;
       width: 100%;
       min-height: 810px;
       height: 100%;
       background: url('../../asset/img/login2.jpg') no-repeat center center;
   }
   
   .wrapper .main {
       width: 796px;
       height: 532px;
       background: #fff;
       margin: 0 auto;
       position: relative;
       top: 140px;
       overflow: hidden;
   }
   
   .wrapper .main .head {
       border-bottom: 4px solid #48BAF1;
       height: 101px;
   }
   
   .wrapper .main .head .logo {
       float: left;
       height: 101px;
       line-height: 101px;
       padding-left: 38px;
   }
   
   .wrapper .main .head .but {
       float: right;
       margin: 64px 22px 0 0;
   }
   
   .wrapper .main .head .but span {
       cursor: pointer;
       margin-left: 40px;
       font-size: 16px;
       font-family: "微软雅黑";
       font-weight: bold;
       display: inline-block;
       height: 37px;
       width: 112px;
       text-align: center;
   }
   
   .wrapper .main .head .but span.active {
       cursor: default;
       border-bottom: 6px solid #0cabfd;
       color: #0cabfd;
   }
   
   .mainbody li {
       display: none;
       text-align: center
   }
   
   .mainbody li>div {
       width: 370px;
       margin: 0 auto;
   }
   
   .mainbody li>div span {
       line-height: 43px;
   }
   
   .mainbody li.active {
       display: block
   }
   
   .mainbody .ukey h2 {
       font-size: 37px;
       color: #00acff;
       text-align: center;
       letter-spacing: 12px;
       margin: 36px 0 30px 0;
   }
   
   .mainbody .ukey h2 span {
       color: #333
   }
   
   .mainbody .ukey input {
       border: 0;
       border-bottom: 1px solid #b2b2b2;
       width: 370px;
       padding: 12px 0 12px 38px;
       margin-bottom: 18px;
   }
   
   .phoneTab select {
       border: 0;
       border-bottom: 1px solid #b2b2b2;
       width: 370px;
       padding: 12px 0 12px 38px;
       margin-bottom: 18px;
   }
   
   .ukeyKeyup .phoneTab {
       position: relative;
   }
   
   .ukeyKeyup .phoneTab .tipIE {
       position: absolute;
       font-size: 12px;
       top: 2px;
       right: -163px;
       color: red;
       display: none;
   }
   
   .phoneTab select option span {
       padding: 0 10px;
   }
   
   .mainbody #seleBook {
       background: url('../../asset/img/login3.png') no-repeat -2px 6px;
   }
   
   .mainbody #seleBook option span {
       margin: 0 5px
   }
   
   .mainbody #userName {
       background: url('../../asset/img/login3.png') no-repeat -2px -82px;
   }
   
   .mainbody #passwd,
   #pinwd {
       background: url('../../asset/img/login3.png') no-repeat -2px -43px;
   }
   
   .buttonTab {
       width: 370px;
       margin: 20px auto 0;
       overflow: hidden;
   }
   
   .mainbody .ukey .login {
       height: 46px;
       line-height: 46px;
       width: 180px;
       background: #0cabfd;
       color: #fff;
       border: 0;
       float: left;
   }
   
   .mainbody .ukey .goregister {
       height: 46px;
       line-height: 46px;
       width: 180px;
       background: #d5dcf1;
       color: #989898;
       border: 0;
       float: right;
   }
   
   .btnA {
       width: 370px;
       margin: 63px auto 0;
   }
   
   .btnA a:hover {
       text-decoration: none;
   }
   
   .btnA .drive {
       float: left;
       color: #666;
   }
   
   .btnA .help {
       float: right;
       color: #00acff;
   }
   /*bootbox弹窗*/
   
   .common .modal-dialog {
       margin-top: 200px;
   }
   
   .common .modal-header {
       border: 0;
       background: #f2f2f2;
       padding: 10px 15px;
       border-radius: 4px;
       color: #333;
   }
   
   .common .modal-header .title {
       font-size: 18px;
       font-weight: 400;
   }
   
   .common .modal-body {
       min-height: 120px;
   }
   
   .common .modal-footer {
       margin: 0 auto;
       text-align: center;
       border: 0;
       padding-top: 1px;
       padding-bottom: 20px;
   }
   
   .common .modal-body .message {
       margin: 0 auto;
       color: #333;
       font-size: 14px;
       padding: 20px 0 20px 70px;
       background: url('../asset/img/login3.png') no-repeat 0 -168px;
   }
   
   .common .modal-footer {
       margin: 0 auto;
       text-align: center;
   }
   
   .common .modal-footer button {
       padding: 0;
       margin: 0 10px;
       border: 0;
       min-width: 80px;
       height: 30px;
   }
   
   .common .modal-footer button.btn1,
   .common .modal-footer button a.return {
       color: #333;
       background: #ebebeb;
   }
   
   .common .modal-footer button.btn2,
   .common .modal-footer button a.continue {
       color: #fff;
       background: #00acff;
   }
   
   .common .modal-footer button a {
       text-decoration: none;
       display: inline;
       zoom: 1;
       display: inline-block;
       zoom: 1;
       *display: inline;
       min-width: 80px;
       height: 30px;
       line-height: 30px;
   }
   
   .common .modal-body .msgcenter {
       margin: 20px 60px;
       color: #333;
       font-size: 16px;
       font-weight: 400;
       text-align: center;
   }
   
   .common .modal-body .msgcenter em {
       background: url(../img/bg-all.png) no-repeat -520px -290px;
       display: inline-block;
       height: 43px;
       width: 43px;
       margin-right: 30px;
       vertical-align: middle;
   }
   
   .common .modal-body .msg1 {
       background: url(../img/bg-all.png) no-repeat -520px -262px;
       margin: 0 60px 0 60px;
       color: #333;
       font-size: 14px;
       padding: 30px 0 30px 66px;
   }
   
    .footer{position:absolute;bottom:0;width: 100%;color: #fff;}
    .footer>div{margin: 0 auto;text-align: center;}
    .footer a{color: #fff;text-decoration: none;}
    .footer p span{margin: 0 10px}
    .copyright{font-size: 12px;}


@charset "utf-8";
html,body {  background: #f6f6f6; }
.page-bg { background: #f6f6f6; height: 100%; width: 100%; }
/* 头部*/
.header { height: 100px; padding-top: 15px; }
.header .top-logo { background: url(../asset/img/ay-logo.png) no-repeat; height: 54px; width: 143px; display: block; margin: 0 50px 30px; }
.header .hide-text { overflow: hidden; text-indent: 100%; white-space: nowrap; font-size: 14px; }
/* 注册进度 */
.jd-list { overflow: hidden; }
.jd-list ul { list-style: none; margin: 0; padding: 0; }
.jd-list ul li { float: left; width: 283px; height: 38px; vertical-align: top; padding-top: 10px; padding-bottom: 10px; line-height: 16px; padding-left: 60px; background-image: url(../asset/img/bg-all.png); background-repeat: no-repeat; color: #666; position: relative; margin-left: -8px; font-size: 14px; }
.jd-list ul li.last { width: 275px; margin-left: 0; }
.jd-list ul li.middle { width: 283px; background-position: 0 -40px; }
.jd-list ul li.first { width: 283px; background-position: 0 -80px; }
.jd-list ul li .yuan { background: url(../asset/img/bg-all.png) no-repeat 0px -120px; display: block; height: 18px; width: 18px; line-height: 18px; float: left; text-align: center; margin-right: 10px; }
.jd-list ul li.ok { color: #fff; }
.jd-list ul li.ok .yuan { color: #00acff; }
.jd-list ul li.middle.ok { background-position: -285px -40px; }
.jd-list ul li.first.ok { background-position: -285px -80px; }
/* 注册内容  */
.reg-content { margin-top: 30px; background: #fff; border-radius: 4px; box-shadow: 0px 5px 17px 0px rgba(0, 13, 19, 0.04); padding-top: 50px; padding-bottom: 50px; clear: both; overflow: hidden; }
/* 信用代码验证*/
.reg-content .idcode { width: 640px; float: left; border-right: 1px solid #dedede; }
.reg-content .idcode .tip-content { font-size: 16px; margin-left: 120px; }
.reg-content .idcode .id-type { margin-top: 30px; }
.reg-content .idcode .id-type .left { float: left; width: 200px; height: 60px; text-align: right; line-height: 60px; padding-right: 10px; }
.reg-content .idcode .id-type .idname .hang { line-height: 30px; margin: 0px; }
.reg-content .idcode label { font-size: 14px; font-weight: normal; color: #666; margin-bottom: 0; }
.reg-content .idcode label input,
.reg-content .idcode .xieyi label input { vertical-align: -2px; margin-right: 6px; }
.btn-ay { color: #fff; background-color: #00acff; border-color: #00acff; }
.btn-ay:hover { color: #fff; background-color: #009bfe; border-color: #009bfe; }
.btn-ay.focus,
.btn-ay:focus { color: #fff; background-color: #0095fe; border-color: #0095fe; }
.btn.btn-ay[disabled] { border:1px solid #bdbdbd; background-color: #ccc; color:#7f7f7f; }
.reg-content .idcode .checkin-box { margin-top: 30px; line-height: 36px; height:36px; }
.reg-content .idcode .checkin-box .left { width: 200px; text-align: right; padding-right: 10px; height: 36px; float: left; }
.reg-content .idcode .checkin-box .reginput { width: 360px; /* text-transform: uppercase;  */}
.reg-content .idcode .checkin-box .input-text { margin-left: 200px; position: relative; }
.reg-content .idcode .checkin-box .input-text .regtip { font-size: 14px; line-height: 20px; color: #f00; position: absolute; z-index: 2; height: 20px; left: 0px; bottom: -24px; }
.reg-content .idcode .checkin-box .input-text input { height: 36px; }
.reg-content .idcode .checkin-box .input-text .code { width: 100px; float: left; }
.reg-content .idcode .checkin-box .input-text .codeimg { border-radius: 6px; border: solid 1px #ccc; display: block; float:left; margin-left: 12px; /* width:78px; */ height: 36px; }
.reg-content .idcode .checkin-box .input-text .upcodeimg { margin-left: 12px; color: #00acff; }
.reg-content .idcode .checkin-box .input-text .upcodeimg a { color: #f00 }
.reg-content .idcode .xieyi { padding-left: 200px; margin-top: 30px; font-size:12px; }
.reg-content .idcode .xieyi label { font-size:12px; color: #666; }
.reg-content .idcode .xieyi label input { vertical-align: -2px; }
.reg-content .idcode .xieyi a { color: #00acff; }
.reg-content .idcode .subform { margin-top:30px; margin-bottom:10px; padding-left: 200px; }
.reg-content .idcode .subform .btn { width: 170px; height:36px;  }
.reg-content .login-text { text-align: center; margin-left: 640px; padding-top: 130px; font-size: 16px; }
.reg-content .login-text a { margin-left:6px; color: #00acff; }
/* 注册成功 */
.reg-content .regok .title { height: 48px; font-size: 20px; color: #0073bd; text-align: center; line-height: 48px; margin-top: 50px; }
.reg-content .regok .title em { background: url(../asset/img/bg-all.png) no-repeat -520px -200px; display: inline-block; height: 48px; width: 48px; vertical-align: -14px; margin-right: 10px; }
.reg-content .regok .text { width: 650px; border-top: dashed 2px #dedede; margin: 40px auto; padding: 50px 70px 0; text-align: center; color: #666; font-size: 14px; height: 120px; }
