@charset "utf-8";
html,body { width: 100%; height: 100%; background: #f6f6f6; }
.page-bg { background: #f6f6f6; height: 100%; width: 100%; }
/* 头部*/
.header { height: 100px; padding-top: 15px; }
.header .top-logo { background: url(../img/ay-logo.png) no-repeat; height: 54px; width: 143px; display: block; margin: 0 50px 30px; }
.header .hide-text { overflow: hidden; text-indent: 100%; white-space: nowrap; font-size: 14px; }
/* 注册进度 */
.jd-list { overflow: hidden; }
.jd-list ul { list-style: none; margin: 0; padding: 0; }
.jd-list ul li { float: left; width: 283px; height: 38px; vertical-align: top; padding-top: 10px; padding-bottom: 10px; line-height: 16px; padding-left: 60px; background-image: url(../img/bg-all.png); background-repeat: no-repeat; color: #666; position: relative; margin-left: -8px; font-size: 14px; }
.jd-list ul li.last { width: 275px; margin-left: 0; }
.jd-list ul li.middle { width: 283px; background-position: 0 -40px; }
.jd-list ul li.first { width: 283px; background-position: 0 -80px; }
.jd-list ul li .yuan { background: url(../img/bg-all.png) no-repeat 0px -120px; display: block; height: 18px; width: 18px; line-height: 18px; float: left; text-align: center; margin-right: 10px; }
.jd-list ul li.ok { color: #fff; }
.jd-list ul li.ok .yuan { color: #00acff; }
.jd-list ul li.middle.ok { background-position: -285px -40px; }
.jd-list ul li.first.ok { background-position: -285px -80px; }
/* 注册内容  */
.reg-content { margin-top: 30px; background: #fff; border-radius: 4px; box-shadow: 0px 5px 17px 0px rgba(0, 13, 19, 0.04); padding-top: 50px; padding-bottom: 50px; clear: both; overflow: hidden; }
/* 信用代码验证*/
.reg-content .idcode { width: 640px; float: left; border-right: 1px solid #dedede; }
.reg-content .idcode .tip-content { font-size: 16px; margin-left: 120px; }
.reg-content .idcode .id-type { margin-top: 30px; }
.reg-content .idcode .id-type .left { float: left; width: 200px; height: 60px; text-align: right; line-height: 60px; padding-right: 10px; }
.reg-content .idcode .id-type .idname .hang { line-height: 30px; margin: 0px; }
.reg-content .idcode label { font-size: 14px; font-weight: normal; color: #666; margin-bottom: 0; }
.reg-content .idcode label input,
.reg-content .idcode .xieyi label input { vertical-align: -2px; margin-right: 6px; }
.btn-ay { color: #fff; background-color: #00acff; border-color: #00acff; }
.btn-ay:hover { color: #fff; background-color: #009bfe; border-color: #009bfe; }
.btn-ay.focus,
.btn-ay:focus { color: #fff; background-color: #0095fe; border-color: #0095fe; }
.btn.btn-ay[disabled] { border:1px solid #bdbdbd; background-color: #ccc; color:#7f7f7f; }
.reg-content .idcode .checkin-box { margin-top: 30px; line-height: 36px; height:36px; }
.reg-content .idcode .checkin-box .left { width: 200px; text-align: right; padding-right: 10px; height: 36px; float: left; }
.reg-content .idcode .checkin-box .reginput { width: 300px; /* text-transform: uppercase;  */}
.reg-content .idcode .checkin-box .input-text { margin-left: 200px; position: relative; }
.reg-content .idcode .checkin-box .input-text .regtip { font-size: 14px; line-height: 20px; color: #f00; position: absolute; z-index: 2; height: 20px; left: 0px; bottom: -24px; }
.reg-content .idcode .checkin-box .input-text input { height: 36px; }
.reg-content .idcode .checkin-box .input-text .code { width: 100px; float: left; }
.reg-content .idcode .checkin-box .input-text .codeimg { border-radius: 6px; border: solid 1px #ccc; display: block; float:left; margin-left: 12px; /* width:78px; */ height: 36px; }
.reg-content .idcode .checkin-box .input-text .upcodeimg { margin-left: 12px; color: #00acff; }
.reg-content .idcode .checkin-box .input-text .upcodeimg a { color: #f00 }
.reg-content .idcode .xieyi { padding-left: 200px; margin-top: 30px; font-size:12px; }
.reg-content .idcode .xieyi label { font-size:12px; color: #666; }
.reg-content .idcode .xieyi label input { vertical-align: -2px; }
.reg-content .idcode .xieyi a { color: #00acff; }
.reg-content .idcode .subform { margin-top:30px; margin-bottom:10px; padding-left: 200px; }
.reg-content .idcode .subform .btn { width: 170px; height:36px;  }
.reg-content .login-text { text-align: center; margin-left: 640px; padding-top: 160px; font-size: 16px; }
.reg-content .login-text a { margin-left:6px; color: #00acff; }
/* 注册成功 */
.reg-content .regok .title { height: 48px; font-size: 20px; color: #0073bd; text-align: center; line-height: 48px; margin-top: 50px; }
.reg-content .regok .title em { background: url(../img/bg-all.png) no-repeat -520px -200px; display: inline-block; height: 48px; width: 48px; vertical-align: -14px; margin-right: 10px; }
.reg-content .regok .text { width: 650px; border-top: dashed 2px #dedede; margin: 40px auto; padding: 50px 70px 0; text-align: center; color: #666; font-size: 14px; height: 200px; }
