<div class="orderList">
    订单列表
</div>
<div class="eseal">
    <div class="mainbody boxmodel">
        <div class="accordion boxshow">
            <ul class="nav">
                <li class="nav0">流水号</li>
                <li class="nav1">订单时间</li>
                <li class="nav2">业务类型</li>
                <li class="nav3">支付金额</li>
                <li class="nav4">支付方式</li>
                <li class="nav5">状态</li>
            </ul>
            <div class="esealtab">
            {{each data.list as value i}}
            <div class="eseallist">
                <div class="list">
                    <ul class="nav">
                        <li class="nav0">{{value.orderNo}}</li>
                        <li class="nav1">{{value.createTime}}</li>
                        <li class="nav2">{{value.businessType==1?"电子印章开通":value.businessType==2?"电子印章续费":value.businessType==3?"电子印章退款":value.businessType}}</li>
                        <li class="nav3">{{value.actualAmount==null?"0元":value.actualAmount+"元"}}</li>
                        <li class="nav4">{{value.payType==1?"支付宝支付":value.payType==2?"微信支付":value.payType==3?"银联支付":value.payType==4?"ERP支付":value.payType}}</li>
                        <li class="nav5">{{if value.orderStatus ==1}}<a id='continue' href='javascript:;'>预付款</a>{{else}}{{value.orderStatus==2?"已付款":value.orderStatus==3?"已完成":value.orderStatus==4?"预退款":value.orderStatus==5?"退款中":value.orderStatus==6?"已退款":value.orderStatus==7?"交易关闭":value.orderStatus}}{{/if}}</li>
                    </ul>
                    <div class="showHide">
                        <div class="toggle">
                            <ul class="nav">
                                <li class="n1">
                                    <p class="top f14">业务详情</p>
                                    <p>业务类型：<span>{{value.businessType==1?"电子印章开通":value.businessType==2?"电子印章续费":value.businessType==3?"电子印章退款":value.businessType}}</span></p>
                                    <p>流水号：<span>{{value.orderNo}}</span></p>
                                    <p>订单时间：<span>{{value.createTime}}</span></p>
                                    <p>订单状态：<span>{{value.orderStatus==1?"预付款":value.orderStatus==2?"已付款":value.orderStatus==3?"已完成":value.orderStatus==4?"预退款":value.orderStatus==5?"退款中":value.orderStatus==6?"已退款":value.orderStatus==7?"交易关闭":value.orderStatus}}</span></p>
                                    <p>经办人： <span>{{value.linkMan}}</span></p>
                                </li>
                                <li class="n2">
                                    <p class="f14">支付信息</p>
                                    <p>支付方式：<span>{{value.payType==1?"支付宝支付":value.payType==2?"微信支付":value.payType==3?"银联支付":value.payType==4?"ERP支付":value.payType}}</span></p>
                                    <p>受理门店：<span title="{{value.shopName && value.shopName.length>18?value.shopName:""}}">{{value.shopName && value.shopName.length>16?value.shopName.substr(0,18)+"...":value.shopName}}</span></p>
                                    <p>支付单号：<span>{{value.transactionId}}</span></p>
                                    <p>支付时间：<span>{{value.payTime}}</span></p>
                                    <p></p>
                                </li>
                                <li class="n3" {{value.businessType==1?"style=display:none":value.businessType==2?"style=display:block":"style=display:block"}}>
                                    <p class="f14">电子印章信息</p>
                                    {{each value.commEsealInfos as value i}}
                                    <p>印章名：<span>{{value.esealFullName}}</span></p>
                                    <p>印章编号：<span>{{value.esealCode}}</span></p>
                                    <p>制作日期：<span>{{value.esealCreateTime}}</span></p>
                                    <p>印章生效期：<span>{{value.bizValidStart}}</span></p>
                                    <p>印章失效期：<span>{{value.bizValidEnd}}</span></p>
                                    {{/each}}
                                </li>
                            </ul>
                        </div>
                        <div class="orderHelp">
                            <ul class="nav">
                                <li class="n1">
                                    <p class="top f14">订单内容</p>
                                    {{each value.mpEsealOrderExts as value i}}
                                <!--<p><span class="sealName">{{value.esealType==1?"单位印章":value.esealType==2?"个人印章":""}}</span><span class="">{{value.payAmount==null?"无数据":value.payAmount}}</span></p>-->
                                    <p><span class="sealName">{{value.esealFullName}}</span><span class="">￥{{value.payAmount==null?"0元":value.payAmount+"元"}}</span></p>
                                   <!--p><span class="sealName">安印电子印章续费</span><span class="sealyear">2年</span><span>￥200</span></p-->
                                    {{/each}}
                                    <p class="orderTotal"><span class="sealTotal">总计</span><span></span><span class="totalMoney">￥{{value.actualAmount ==null?"0元":value.actualAmount+"元"}}</span></p>
                                </li>
                                <li class="n2">
                                    <p class="f14">订单发票</p>
                                    {{if value.mpElectronicInvoice == null}}
                                    <p><span>如需电子发票，请点击 <a href="javascript:;">电子发票申请</a></span></p>
                                    {{else}}
                                    <p><span>您已申请电子发票，</span><a href="{{value.mpElectronicInvoice?value.mpElectronicInvoice.originalPdfUrl:""}}">点击下载</a></p>
                                    {{/if}}
                                </li>
                                <li class="n3">
                                    <p class="f14">需要帮助？</p>
                                    <p><span>新办理的电子印章无法使用，</span>
                                        <a>了解详情</a>
                                    </p>
                                    <p><a>电子印章常见问题</a>，或
                                        <a>联系客服</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="listResult">没有订单信息</div>
            </div>
            <!--分页-->
            <nav aria-label="Page navigation">
                <ul class="pagination" id="pageLimit">
                    <li class="PreviousPage">
                        <a aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <!-- {{each count as value i}}
                    <li class="index"><a>{{value}}</a></li>
                    {{/each}} -->
                    <li class="appendPage NextPage">
                        <a aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <!-- <li class="gopage">
                        <label>前往<input type="text">页</label>
                    </li> -->
                </ul>
            </nav>
        </div>
    </div>

</div>

<style>

    body {
        font-size: 14px;
    }

    .contents {
        /*height: 80px;
		width: 80px;
		background: #0073bd;
		position: absolute;
		left: 0;
		top: 0;*/
    }

    .wrapper {
        /*margin-left: calc(100vw - 100%);*/
    }

    .orderList {
        height: 20px;
        margin: 17px 0 20px 20px;
        padding-left: 15px;
        font-size: 16px;
        font-weight: 600;
        border-left: 6px solid #0073bd;
    }

    .boxmodel {
        color: #333;
        width: 1100px;
        margin: 0 auto;
    }

    .mainbody {
        background: #fff;
    }

    .accordion {
        background: #fff;
        padding: 20px;
    }

    .accordion>.nav {
        padding: 0 22px 18px 22px;
        font-size: 16px;
    }

    .accordion .nav li {
        float: left;
        min-height: 20px;
    }

    .accordion .nav .nav0 {
        min-width: 180px;
        max-width: 183px;
        white-space: nowrap; 
        word-wrap: normal; 
        text-overflow: ellipsis;  
        overflow: hidden;
        
    }

    .accordion .nav .nav1 {
        min-width: 190px;
    }

    .accordion .nav .nav2 {
        min-width: 160px;
    }

    .accordion .nav .nav3 {
        min-width: 150px;
    }

    .accordion .nav .nav4 {
        min-width: 170px;
    }

    .accordion .nav .nav5 {
        min-width: 160px;
    }

    .accordion .nav .orderTotal {
        /* width: 260px; */
        margin: 0;
        padding: 10px 0;
        border-top: 1px solid #f6f6f6;
    }

    .accordion .listResult {
        border-radius: 4px;
        text-indent: 22px;
        background: #f6f6f6;
        color: #666;
        font-size: 14px;
        line-height: 48px;
        display: none;
    }
    .esealtab { min-height: 340px; }
    .eseallist .list {
        background: #f6f6f6;
        padding: 0px 22px 1px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .eseallist .list>.nav {
        padding: 14px 0;
        text-align: center;
        cursor: pointer;
    }
    .eseallist .list>.nav .nav5 a { 
        color: #00acff; padding: 0 4px; display: inline-block; background-color: #f6f6f6; 
    }
    .eseal .accordion>.nav {
        text-align: center;
    }

    .eseallist .list .showHide {
        display: none;
    }

    .eseallist .list .toggle {
        padding: 20px 40px;
        background: #fff;
        margin: 0px 0 14px;
    }

    .eseallist .list .toggle .nav .n1 {
        width: 30%;
        /* border-right: 1px dashed #dedede; */
    }

    .eseallist .list .toggle .nav .n2 {
        width: 40%;
        padding-left: 5%;
        padding-right: 2%;
        /* border-right: 1px dashed #dedede; */
    }

    .eseallist .list .toggle .nav .n3 {
        width: 30%;
        /* padding-left: 5%; */
    }

    .eseallist .list .toggle .nav p {
        font-size: 12px;
        height: 17px;
    }

    .eseallist .list .toggle .nav .f14 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .eseallist .list .toggle .nav p span {
        color: #666
    }

    .eseallist .list .toggle .nav p.top span {
        margin-left: 30px;
        background: #08c34e;
        color: #fff;
        font-size: 12px;
        padding: 2px 10px;
        border-radius: 2px;
    }

    .eseallist .list .orderHelp {
        padding: 30px 40px 20px;
        background: #fff;
        margin: 0px 0 14px;
    }

    .eseallist .list .orderHelp .n1 {
        width: 30%;
        font-size: 12px;
    }

    .eseallist .list .orderHelp .n2 {
        width: 35%;
        padding-left: 5%;
        font-size: 12px;
    }

    .eseallist .list .orderHelp .n3 {
        padding-left: 5%;
        width: 35%;
        font-size: 12px;
    }
    .eseallist .list .orderHelp .f14 { font-size: 14px; font-weight: 600; }
    .eseallist .list .orderHelp .n1 span {
        display: inline-block;
    }

    .eseallist .list .orderHelp .n1 .sealName {
        width: 190px;
    }

    .eseallist .list .orderHelp .n1 .sealyear {
        width: 60px;
    }
    .eseallist .list .orderHelp .n1 .payAmount {
        padding-right: 30px;
    }
    .eseallist .list .orderHelp .n1 .sealTotal {
        width: 190px;
        font-size: 14px;
        font-weight: 600;
    }

    .eseallist .list .orderHelp .n1 .totalMoney {
        font-size: 14px;
        font-weight: 600;
        white-space: nowrap;
    }

    .eseallist .list .orderHelp a {
        cursor: pointer;
        color: #00acff;
    }

    nav
    {
        margin-right: 20px;
        text-align: right;
    }

    nav ul.pagination li a {
        cursor: pointer;
    }    

</style>