.no-print{
	display: none;
}
.cancel-print{
    width: 1020px;
    margin: 0 40px;
    text-align: center;
    padding: 20px;
    color:#f00;
}
.print-style{
    position: fixed;
    left: 50%;
    margin-left: -550px;
    z-index: 999;
}
.filing-card-table tr td{
    font-size: 26px;
}