<div class="admin_page">
    <div class="eseal">
        <div class="topseal">
            <h3 class="boxmodel">
                <a href="admin.html">电子印章列表</a>
                <a class="active" id="loginset" href="admin.html#license">登录权限设置</a>
            </h3>
        </div>
        <div class="listtoggle">
            <div class="mainbody boxmodel license active">
                <h2 class="listTop">
                    <span>登录权限设置</span>
                </h2>
                <div class="accordion boxshow">
                    <div class="accordion_w">
                        <ul class="nav nav_tit">
                            <li class="nav1">电子印章名称</li>
                            <li class="nav2">电子印章编码</li>
                            <li class="nav3">当前登录权限</li>
                            <li class="nav4">管理操作</li>
                        </ul>
                        <div class="eseallist">
                            {{each loginlist.list value i}}
                            <div class="list">
                                <ul class="nav nav_con">
                                    <li class="nav1">{{value.esealFullName}}</li>
                                    <li class="nav2">{{value.esealCode}}</li>
                                    <li class="nav3">{{value.keyStatus==0?"关闭登录":"允许登录"}}</li>
                                    <li data-oid="{{value.oid}}" data-code="{{value.esealCode}}" class="nav4 shut">
                                        <p class="opens {{value.keyStatus==0?'':'closee'}}">{{value.keyStatus==0?"开启登录权限":"关闭登录权限"}}</p>
                                    </li>
                                </ul>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                </div>

                <nav aria-label="Page navigation" id="licenseNav">
                    <div class="page_btip">当前第 {{ loginlist.pageNum }}/{{ loginlist.totalPages }} 页，共 {{ loginlist.totalRows }} 条记录 </div>
                    <ul class="pagination" id="pageLimit">
                        <li class="PreviousPage">
                            <a aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="appendPage NextPage">
                            <a aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <style>
        .accordion .eseallist,
        .accordion .eseallist {
            min-height: 290px;
        }
        
        .eseallist .list a {
            color: #00acff;
        }
        
        nav {
            margin-right: 20px;
            text-align: right;
        }
        
        nav ul.pagination li a {
            cursor: pointer;
        }
        
        body {
            font-size: 14px;
        }
        
        .boxmodel {
            color: #333;
            width: 1100px;
            margin: 0 auto;
        }
        
        .topseal {
            background: #fafafa;
            border-bottom: 1px solid #dce0e3;
            height: 56px;
        }
        
        .topseal h3 {
            font-size: 14px;
            color: #a8a8a8;
        }
        
        .topseal h3 a {
            margin-right: 60px;
            display: inline-block;
            height: 56px;
            line-height: 56px;
            cursor: pointer;
            padding: 0 10px;
            text-decoration: none;
            color: #999;
        }
        
        .topseal h3 a.active {
            color: #333;
            font-weight: 600;
            border-bottom: 2px solid #00acff;
        }
        
        .mainbody {
            display: none;
        }
        
        .mainbody.active {
            display: block;
        }
        
        .mainbody .listTop {
            width: 1100px;
            height: 20px;
            line-height: 20px;
            margin: 15px auto;
            padding-left: 15px;
            font-size: 16px;
            font-weight: 600;
            border-left: 4px solid #02adff;
        }
        
        .mainbody .listTop .aa {
            font-weight: normal;
        }
        
        .mainbody .listTop span {
            font-weight: bolder;
            font-size: 16px;
            float: left;
        }
        
        .mainbody .listTop a {
            font-size: 14px;
            float: right;
            color: #00acff;
        }
        
        .accordion {
            background: #fff;
            padding: 20px;
        }
        
        .accordion_w {}
        
        .accordion_w .nav {
            padding: 20px 20px;
            font-size: 14px;
        }
        
        .accordion_w .nav_tit {
            background-color: #f6fafe;
            font-size: 16px;
            border: 1px solid #dfe8ed;
        }
        
        .accordion_w .nav_tit li {
            text-align: left;
            font-size: 15px;
            color: #384a5c;
            font-weight: bold;
            padding: 16px 0;
        }
        
        .accordion .nav {
            padding: 0 20px;
            font-size: 14px;
        }
        
        .accordion .nav li {
            float: left;
        }
        
        .eseallist .nav li {
            min-height: 48px;
        }
        
        .eseallist {
            background-color: #fff;
        }
        
        .eseallist .list:hover {
            background-color: #edf7fc;
        }
        
        .eseallist .list:nth-child(2n) {
            background-color: #f6fafe;
        }
        
        .accordion .nav .nav1 {
            width: 250px;
            padding-right: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        
        .accordion .nav .nav1 strong {
            margin-left: 10px;
            position: absolute;
            width: 30px;
            height: 30px;
            background: url("../../../../asset/img/order_1.png") no-repeat;
        }
        
        .accordion .nav .nav2 {
            min-width: 180px;
        }
        
        .accordion .nav .nav3 {
            min-width: 200px;
        }
        
        .accordion .nav .nav4 {
            min-width: 220px;
        }
        
        .accordion .nav .nav5 {
            width: 168px;
            text-align: center;
            white-space: nowrap;
        }
        .eseallist .list {
            border-left: 1px solid #dfe8ed;
            border-right: 1px solid #dfe8ed;
            border-bottom: 1px solid #dfe8ed;
        }
        
        .eseallist .list>.nav {
            height: 48px;
            line-height: 48px;
            cursor: pointer;
        }
        
        .license .eseallist .list>.nav {
            cursor: default;
        }
        
        .eseallist .list .toggle {
            width: 100%;
            display: none;
            padding: 0;
            background: #fff;
        }
        
        .eseallist .list .toggle .nav {
            padding: 30px 40px;
        }
        
        .eseallist .list .toggle .nav .n1 {
            width: 32%;
            padding-right: 3%;
            border-right: 1px solid #dfe8ed;
            min-height: 165px;
        }
        
        .eseallist .list .toggle .nav .n2 {
            width: 33%;
            margin-left: 3%;
            padding-right:3%;
            border-right: 1px solid #dfe8ed;
            min-height: 165px;
        }
        
        .eseallist .list .toggle .nav .n3 {
            width: 32%;
            padding-left:3%;
        }
        
        .eseallist .list .toggle .nav p {
            font-size: 12px;
        }
        
        .eseallist .list .toggle .nav .f14 {
            font-size: 14px;
            font-weight: 600;
        }
        
        .eseallist .list .toggle .nav p span {
            color: #666
        }
        
        .eseallist .list .toggle .nav p.top span {
            margin-left: 30px;
            background: #08c34e;
            color: #fff;
            font-size: 12px;
            padding: 2px 10px;
            border-radius: 2px;
        }
        
        .listview .accordion .nav li.nav5 span {
            display: inline-block;
            line-height: 48px;
            padding-left: 4px;
            padding-right: 4px;
            cursor: pointer;
        }
        
        .license .accordion .nav li {
            min-width: auto;
        }
        
        .license .accordion .nav .nav1 {
            width: 36%;
        }
        
        .license .accordion .nav .nav2 {
            width: 28%;
        }
        
        .license .accordion .nav .nav3 {
            width: 20%;
        }
        
        .license .accordion>.nav .nav3 {
            position: relative;
            /* margin-left: -33px; 
        width: 22%;*/
        }
        
        .license .accordion .nav .nav4 {
            width: auto;
        }
        
        .license .accordion .nav .shut,
        .license .accordion .nav .open {
            padding-top: 8px;
        }
        
        .license .accordion .nav .shut .opens,
        .license .accordion .nav .open .opens {
            color: #fff;
            padding: 2px 12px;
            background-color: #21d3a6;
            border-radius: 4px;
            display: block;
            line-height: 26px;
            height: 30px;
            margin-bottom: 0;
        }
        
        .license .accordion .nav .shut .closee {
            background-color: #ff7a7a;
        }
        
        .license .accordion .nav .shut,
        .license .accordion .nav .opens {
            cursor: pointer;
        }
        
        .closeAllowbtn2 {
            display: none;
        }
        
        .listResult {
            /* border-radius: 4px; */
            text-indent: 20px;
            border: 1px solid #dfe8ed;
            border-top: 0;
            color: #666;
            font-size: 14px;
            line-height: 48px;
        }
        
        .eseallist>.list>ul>.nav5>a {
            color: #00acff;
            padding: 0 4px;
            display: inline-block;
            /* max-width: 80px; */
            white-space: nowrap;
        }
        .eseallist>.list>ul>.nav5>a:hover,
        .eseallist>.list>ul>.nav5>a:focus {
            background-color: transparent;
        }
        
        .eseallist .list .tog_bot {
            width: 100%;
            height: 16px;
            line-height: 16px;
            background-color: #eaf1f7;
            text-align: center;
            color: #a6becb;
            cursor: pointer;
            border-top: solid 1px #dfe8ed;
        }
        .eseallist .list .tog_bot em {
            display: inline-block;
            width: 14px;
            height: 6px;
            vertical-align: middle;
            background: url(./app/asset/img/bg-all.png) no-repeat -206px -290px;
            margin-bottom: 4px;
        }
        .eseallist .list .tog_bot:hover em { background-position: -230px -290px; }
        .eseallist .list .tog_bot:hover { background-color: #deeaf1; }
        .page_btip {
            display: inline-block;
            float: left;
            line-height: 70px;
            color: #6f7d8b;
        }
        
        .nav_tac {
            background-color: #eaf1f7;
        }
    </style>

</div>