<div class="eseal">
    <div class="topseal">
        <h3 class="boxmodel">
            <span class="active">电子印章列表</span>
            <span id="loginset">登录权限设置</span>
        </h3>
    </div>
    <div class="listtoggle">
        <div class="mainbody boxmodel active listview">
            <h2 class="listTop">
                <span>电子印章列表</span>
                <a id="step" href="admin.html#step1">办理电子印章&gt;</a>
            </h2>
            <div class="accordion">
                <ul class="nav">
                    <li class="nav1">电子印章名称</li>
                    <li class="nav2">电子印章编码</li>
                    <li class="nav3">电子印章办理时间</li>
                    <li class="nav4">电子印章有效期</li>
                    <!-- <li class="nav5">管理操作</li> -->
                </ul>
                <div class="eseallist">
                    {{if data == null}}
                     <div class="listResult">无电子印章信息</div>
                     {{/if}}
                    {{each data as value i}}
                    <div class="list">
                        <ul class="nav">
                            <li class="nav1">{{value.esealFullName}}</li>
                            <li class="nav2">{{value.esealCode}}</li>
                            <li class="nav3">{{value.esealCreateTime}}</li>
                            <li class="nav4">{{value.validEnd}}</li>
                            <!-- <li class="nav5">
                                <span class="renew">续费</span>
                                <span class="unfreeze">解冻</span>
                                <span class="logout">注销</span>
                                <span class="loss">预挂失</span>
                            </li> -->
                        </ul>
                        <div class="toggle">
                            <ul class="nav">
                                <li class="n1">
                                    <p class="top f14">电子印章信息<span>正常</span></p>
                                    <p>印章名：<span>{{value.esealFullName}}</span></p>
                                    <p>印章编号：<span>{{value.esealCode}}</span></p>
                                    <p>制作日期: <span>{{value.esealCreateTime}}</span></p>
                                    <p>印章生效期: <span>{{value.validStart}}</span></p>
                                    <p>印章失效期： <span>{{value.validEnd}}</span></p>
                                </li>
                                <li class="n2">
                                    <p class="f14">企业信息</p>
                                    <p>企业名称：<span>{{value.enterpriseName}}</span></p>
                                    <p>机构代码： <span>  {{value.enterpriseCode}}</span></p>
                                    <p>统一社会信用代码：<span>5465451274112135121X</span></p>
                                </li>
                                <li class="n3">
                                    <p>需要帮助？</p>
                                    <p><span>我的电子印章快过有效期了，</span><a href="admin.html#renew">马上续费</a></p>
                                    <p><span>我的电子印章可能遗失或被人盗用，</span><a href="#">马上冻结</a></p>
                                    <p><span>我不需要继续使用的电子印章，</span><a href="#">马上注销</a></p>
                                    <p><span>电子印章常用问题，或</span><a href="#">联系客服</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <nav aria-label="Page navigation" id="esealNav">
                    <ul class="pagination" id="pageLimit">
                        <li class="PreviousPage">
                            <a aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <!-- {{each count as value i}}
                        <li class="index"><a>{{value}}</a></li>
                         {{/each}} -->
                        <li class="appendPage NextPage">
                            <a aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <!-- <li class="gopage">
                            <label>前往<input type="text">页</label>
                        </li> -->
                    </ul>
                </nav>
            </div>
        </div>


        <div class="mainbody boxmodel license">
            <h2 class="listTop">
                <span>登录权限设置</span>
                <!--<a href="">办理电子印章&gt;</a>-->
            </h2>
            <div class="accordion">
                <ul class="nav">
                    <li class="nav1">电子印章名称</li>
                    <li class="nav2">电子印章编码</li>
                    <li class="nav3">当前登录权限</li>
                    <li class="nav4">管理操作</li>
                </ul>
                <div class="eseallist">
                    {{if loginlist == ""}}
                    <div class="listResult">无电子印章信息</div>
                    {{/if}}
                    {{each loginlist as value i}}
                    <div class="list">
                        <ul class="nav">
                            <li class="nav1">{{value.esealFullName}}</li>
                            <li class="nav2">{{value.esealCode}}</li>
                            <li class="nav3">{{value.keyStatus==0?"禁用":"启用"}}</li>
                            <li class="nav4 shut">{{value.keyStatus==0?"开启登录权限":"关闭登录权限"}}</li>
                        </ul>
                    </div>
                    {{/each}}
                    <!--div class="list">
                        <ul class="nav">
                            <li class="nav1">电子印章样品专用章（01）</li>
                            <li class="nav2">e441231541021</li>
                            <li class="nav3">关闭登录</li>
                            <li class="nav4 open">开启登录权限</li>
                        </ul>
                    </div-->
                </div>
                <nav aria-label="Page navigation" id="licenseNav">
                    <ul class="pagination" id="pageLimit">
                        <li class="PreviousPage">
                            <a aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="index"><a>123</a></li>
                        <!-- {{each count as value i}}
                        <li class="index"><a>{{value}}</a></li>
                         {{/each}} -->
                        <li class="appendPage NextPage">
                            <a aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <!-- <li class="gopage">
                            <label>前往<input type="text">页</label>
                        </li> -->
                    </ul>
                </nav>



            </div>
        </div>
    </div>
</div>
<style>
    html,
    body {
        height: 100%;
    }
    
    nav
    {
        margin-right: 20px;
        text-align: right;
    }

    nav ul.pagination li a {
        cursor: pointer;
    }

    body {
        font-size: 14px;
    }

    .boxmodel {
        color: #333;
        width: 1100px;
        margin: 0 auto;
    }

    .topseal {
        background: #fff;
        border-bottom: 1px solid #dce0e3;
        height: 56px;
    }

    .topseal h3 {
        font-size: 14px;
        color: #a8a8a8;
    }

    .topseal h3 span {
        margin-right: 60px;
        display: inline-block;
        height: 56px;
        line-height: 56px;
        cursor: pointer;
    }

    .topseal h3 span.active {
        color: #333;
        border-bottom: 2px solid #00acff;
    }

    .mainbody {
        display: none;
    }

    .mainbody.active {
        display: block;
    }

    .mainbody .listTop {
        overflow: hidden;
    }

    .mainbody .listTop span {
        font-weight: bolder;
        font-size: 16px;
        float: left;
    }

    .mainbody .listTop a {
        font-size: 14px;
        float: right;
    }

    .accordion {
        background: #fff;
        padding: 20px;
    }

    .accordion>.nav {
        padding: 0 22px 18px 22px;
        font-size: 16px;
    }

    .accordion .nav li {
        float: left;
    }
    .eseallist .nav li {
        min-height: 48px;
    }

    .accordion .nav .nav1 {
        min-width: 250px;
    }

    .accordion .nav .nav1 strong {
        margin-left: 10px;
        position: absolute;
        width: 30px;
        height: 30px;
        background: url("../../../../asset/img/order_1.png") no-repeat;
    }

    .accordion .nav .nav2 {
        min-width: 150px;
    }

    .accordion .nav .nav3 {
        min-width: 210px;
    }

    .accordion .nav .nav4 {
        min-width: 240px;
    }

    .accordion .nav .nav5 {
        min-width: 80px;
    }

    .eseallist .list {
        background: #f6f6f6;
        padding: 0px 22px 1px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .eseallist .list>.nav {
        height: 48px;
        line-height: 48px;
    }

    .eseallist .list .toggle {
        display: none;
        padding: 26px 30px 16px 30px;
        background: #fff;
        margin: 0px 0 14px;
    }

    .eseallist .list .toggle .nav .n1 {
        width: 30%
    }

    .eseallist .list .toggle .nav .n2 {
        width: 35%
    }

    .eseallist .list .toggle .nav .n3 {
        width: 35%
    }

    .eseallist .list .toggle .nav p {
        font-size: 12px;
    }

    .eseallist .list .toggle .nav .f14 {
        font-size: 14px;
    }

    .eseallist .list .toggle .nav p span {
        color: #666
    }

    .eseallist .list .toggle .nav p.top span {
        margin-left: 30px;
        background: #08c34e;
        color: #fff;
        font-size: 12px;
        padding: 2px 10px;
        border-radius: 2px;
    }

    .listview .accordion .nav li.nav5 span {
        display: inline-block;
        line-height: 48px;
        padding-left: 2px;
        padding-right: 2px;
        cursor: pointer;
    }

    .license .accordion .nav li {
        min-width: auto;
    }

    .license .accordion .nav .nav1 {

        width: 36%;
    }

    .license .accordion .nav .nav2 {
        width: 28%;
    }

    .license .accordion .nav .nav3 {
        width: 20%;
    }

    .license .accordion>.nav .nav3 {
        position: relative;
        /* margin-left: -33px; 
        width: 22%;*/
    }

    .license .accordion .nav .nav4 {
        width: auto;
    }

    .license .accordion .nav .shut {
        color: #00acff;
    }

    .license .accordion .nav .shut,
    .license .accordion .nav .open {
        cursor: pointer;
    }
    .closeAllowbtn2{
        display: none;
    }
    .listResult {
    text-align: center;
    background: #f6f6f6;
    color: #666;
    font-size: 14px;
    line-height: 48px;
}
</style>