<div class="page-kd">
    <h2 class="h-title">订单确认- <span>缴费成功</span></h2>
    <div class="contentbox">
		<div class="savaok">
			<div class="title"><em></em>你已成功付款 <span class="totalFee"></span> 元！<span id="mes">6</span>秒后将跳转至<span class="lcocation_page">订单中心</span>......</div>
			<div class="text text_tip">审核通过后请携带《申请书》原件至  <span class="shop_address"></span>  领取电子印章；如非法人本人领取，请同时携带<a href="../../../asset/attachment/legal_person_authorized_certificate.doc" target="_blank">《法人授权委托证明书》</a>与经办人身份证原件</div>
		</div>		
        
    </div>
</div>
<style>
    .h-title { height: 20px; margin-top: 20px; margin-bottom: 20px; font-size: 16px; line-height: 20px; font-weight: 600; border-left: 6px solid #00acff; padding-left: 15px; }
    .h-title span { font-weight: 400;}
    .contentbox { margin-top: 20px; background: #fff; border-radius: 4px; box-shadow: 0px 5px 17px 0px rgba(0, 13, 19, 0.04); padding-top: 60px; padding-bottom: 60px; clear: both; overflow: hidden; }
    .savaok { margin: 50px 0 }
    .savaok .title { height: 48px; font-size: 20px; color: #00acff; text-align: center; line-height: 48px;}
    .savaok .title em { background: url(./app/asset/img/bg-all.png) no-repeat -520px -200px; display: inline-block; height: 48px; width: 48px; vertical-align: -14px; margin-right: 10px; }
    .savaok .title #mes { margin-left: 4px; margin-right: 4px; color: #f00; }
    .savaok .text { width: 650px; border-top: dashed 2px #dedede; margin: 40px auto 0; padding: 50px 70px 0; text-align: center; color: #666; font-size: 14px; height: 200px; }    
    .totalFee{ font-weight: bold; }
    .shop_address{ font-weight: bold; color: #00acff; }
</style>
