<div class="wrapper">
	<div class="container">
		<div class="step3">
			<div class="title">
				新办电子印章- <span>提交资料、门店选择</span>
			</div>
			<div class="Message">
				<div class="mainTitle">
					企业证照
				</div>
				<div class="flex">
					<div class="photoContent">
						<div class="photo digitalScan">
							<div class="flexTitle">
								《数字证书及电子印章申请表及用户责任书》扫描件
							</div>
							<div class="scanPhoto">
								<!--<div class="picture digitalUpload"></div>-->
								<div class="form">
									<form id="ajaxForm0" accept-charset="utf-8" action="/api/sealnet/upload/autho" enctype="multipart/form-data">
										<span class="digitalUpload" id="photo0"></span>
										<input name="file" data-id='0' id='file0' size="0" maxlength="0" type="file" />
										<a class="reset0" href="javascript:">
											<span>重新选择</span>
										</a>
									</form>
								</div>
								<div class="formPublic">
									<span class="shadow shadow1"></span>
									<span class="digitalExample"></span>
								</div>
							</div>
						</div>
						<div class="photo legalScan">
							<div class="flexTitle">
								《法人授权书》扫描件
							</div>
							<div class="scanPhoto">
								<!--<div class="picture legalUpload"></div>-->
								<div class="form">
									<form id="ajaxForm1" accept-charset="utf-8" action="/api/sealnet/upload/autho" enctype="multipart/form-data">
										<span class="digitalUpload" id="photo1"></span>
										<input name="file" data-id='1' id='file1' size="0" maxlength="0" type="file" />
										<a class="reset1" href="javascript:">
											<span>重新选择</span>
										</a>
									</form>
								</div>
								<div class="formPublic">
									<span class="shadow shadow2"></span>
									<span class="exampleScan"></span>
								</div>
							</div>
						</div>
						<div class="photo bankScan">
							<div class="flexTitle">
								《银行开户证明》扫描件
							</div>
							<div class="scanPhoto">
								<!--<div class="picture digitalUpload"></div>-->
								<div class="form">
									<form id="ajaxForm2" accept-charset="utf-8" action="/api/sealnet/upload/autho" enctype="multipart/form-data">
										<span class="digitalUpload" id="photo2"></span>
										<input name="file" data-id='2' id='file2' size="0" maxlength="0" type="file" />
										<a class="reset2" href="javascript:">
											<span>重新选择</span>
										</a>
									</form>
								</div>
								<div class="formPublic">
									<span class="shadow shadow3"></span>
									<span class="bankExample"></span>
								</div>
							</div>
						</div>
						<div class="photo tradeScan">
							<div class="flexTitle">
								《对外贸易经营者备案登记表》扫描件
							</div>
							<div class="scanPhoto">
								<!--<div class="picture legalUpload"></div>-->
								<div class="form">
									<form id="ajaxForm3" accept-charset="utf-8" action="/api/sealnet/upload/autho" enctype="multipart/form-data">
										<span class="digitalUpload" id="photo3"></span>
										<input name="file" data-id='3' id='file3' size="0" maxlength="0" type="file" />
										<a class="reset3" href="javascript:">
											<span>重新选择</span>
										</a>
									</form>
								</div>
								<div class="formPublic">
									<span class="shadow shadow4"></span>
									<span class="tradeScan"></span>
								</div>
							</div>
						</div>
						<div style="clear: both;"></div>
					</div>
					<div class="downLoad">
						<a class="example" href="../../../../asset/attachment/digital_and_electronic_seal.doc">申请书模板下载</a>
						<div class="tips">请填写完毕并打印加盖公章，拍照上传</div>
					</div>
				</div>
				<div class="mainTitle">
					刻章店选择
				</div>
				<div class="sealMessage">
					<div class="title">
						<dd>选择区域</dd>
						<div class="public">
							<select name="" class="search_input">
								<option value="0">广东省</option>
							</select>
							<select name="" class="search_input">
								<option value="0">深圳市</option>
							</select>
							<select id="area" class="search_input">
								<!--{{each zoneArea as value i}}
									<option value={{zoneArea[i].areaCode}} {{if zoneArea[i].areaCode==areaNumber}}selected{{/if}} >{{zoneArea[i].name}}</option>
								{{/each}}-->
							</select>
						</div>
						<div class="current">
							<dd>当前选择：</dd>
							<span class="curr-choice"></span>
						</div>
					</div>
					<div class="result">
						<table class="table table-striped">
							<thead>
								<tr>
									<th style="padding-left:10px;width:80px"></th>
									<th>序号</th>
									<th>印章店名称</th>
									<th>印章店地址</th>
									<th>联系方式</th>
								</tr>
							</thead>
						</table>
						<div class="sealShopResult">查询不到刻章店信息</div>
					</div>
				</div>
				<nav aria-label="Page navigation">
					<ul class="pagination" id="pageLimit">
						<li class="PreviousPage">
							<a aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="appendPage NextPage">
							<a aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="go">
				<a class="btn btn-default fl" id="goStep2" href="#step2">上一步</a>
				<a class="btn btn-ay fr" id="goStep4">提交</a>
			</div>
		</div>
	</div>
</div>

<style>
	.fl {
		float: left;
	}
	
	.fr {
		float: right;
	}
	.wrapper{
		padding-bottom: 0;
	}
	.step3>.title {
		height: 20px;
		margin: 17px 0 20px;
		padding-left: 15px;
		font-size: 16px;
		font-weight: 600;
		border-left: 6px solid #0073bd;
	}
	
	.step3 .title span {
		font-weight: 500;
	}
	
	.step3 .Message {
		margin-top: 30px;
		border-radius: 4px;
		box-shadow: 0px 5px 17px 0px rgba(0, 13, 19, 0.04);
	}
	
	.step3 .mainTitle {
		height: 42px;
		line-height: 42px;
		border-bottom: 1px solid #dedede;
		padding-left: 30px;
		font-size: 14px;
		font-weight: 700;
		background: #fff;
	}
	
	.step3 .flex {
		position: relative;
		background: #fff;
		margin-bottom: 20px;
	}
	
	.step3 .flex .photoContent {
		width: 840px;
	}
	
	.step3 .flex .photo {
		width: 420px;
		float: left;
		padding: 20px 20px 20px 40px;
	}
	
	.step3 .flex .legalScan {
		/*display: none;*/
	}
	
	.step3 .flex .downLoad {
		width: 260px;
		position: absolute;
		top: 0;
		right: 0;
	}
	
	.step3 .flex .downLoad a {
		cursor: pointer;
	}
	
	.step3 .flex .scanPhoto {
		width: 350px;
		height: 113px;
		margin-top: 20px;
	}
	
	.step3 .flex .form {
		width: 162px;
		height: 112px;
		float: left;
		border: 1px dashed #dedede;
		position: relative;
		overflow: hidden;
	}
	
	.step3 .flex .form input {
		position: absolute;
		font-size: 46px;
		width: 163px;
		height: 112px;
		opacity: 0;
		bottom: 0;
		filter: Alpha(opacity=0);
		z-index: 999;
		cursor: pointer;
	}
	
	.step3 .flex .form .digitalUpload {
		display: inline-block;
		width: 163px;
		height: 112px;
		background: url(../../../../app/asset/img/c-1-6-3_04.jpg) no-repeat;
	}
	
	.step3 .flex .form a {
		height: 24px;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 163px;
		height: 24px;
		text-align: center;
		color: #FFFFFF;
		background: #999;
		display: none;
		opacity: 0.8;
		filter: Alpha(opacity=80);
	}
	
	.step3 .flex .form a span {
		line-height: 24px;
	}
	
	.step3 .flex .scanPhoto .shadow:hover {
		background: url(../../../../app/asset/img/c-1-6-2_03.jpg);
		opacity: .8;
		filter: Alpha(opacity=80);
	}
	
	.step3 .flex .scanPhoto .exampleScan {
		width: 162px;
		height: 112px;
		background: url(../../../../app/asset/img/proxy.jpg) no-repeat center;
		background-size: auto 112px;
		float: right;
		border: 1px dashed #DEDEDE;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../asset/img/proxy.jpg', sizingMethod='scale');
		-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../asset/img/proxy.jpg', sizingMethod='scale');
	}
	
	.step3 .formPublic {
		position: relative;
		overflow: hidden;
	}
	
	.step3 .flex .scanPhoto .shadow {
		display: inline-block;
		width: 163px;
		height: 112px;
		position: absolute;
		left: 26px;
	}
	
	.step3 .flex .scanPhoto .digitalExample {
		width: 162px;
		height: 112px;
		float: right;
		border: 1px dashed #DEDEDE;
		background: url(../../../../app/asset/img/apply.jpg) no-repeat center;
		background-size: auto 112px;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../asset/img/apply.jpg', sizingMethod='scale');
		-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../asset/img/apply.jpg', sizingMethod='scale');
	}
	
	.step3 .flex .scanPhoto .bankExample {
		width: 162px;
		height: 112px;
		float: right;
		border: 1px dashed #DEDEDE;
		background: url(../../../../app/asset/img/bank.jpg) no-repeat center;
		background-size: auto 112px;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../asset/img/bank.jpg', sizingMethod='scale');
		-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../asset/img/bank.jpg', sizingMethod='scale');
	}
	
	.step3 .flex .scanPhoto .tradeScan {
		width: 162px;
		height: 112px;
		float: right;
		border: 1px dashed #DEDEDE;
		background: url(../../../../app/asset/img/trade.jpg) no-repeat center;
		background-size: auto 112px;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../asset/img/trade.jpg', sizingMethod='scale');
		-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../asset/img/trade.jpg', sizingMethod='scale');
	}
	
	.step3 .flex .downLoad {
		margin-top: 90px;
	}
	
	.step3 .sealMessage {
		padding: 20px 40px 20px;
		background: #fff;
	}
	/*刻章店选择*/
	
	.step3 .sealMessage .title {
		height: 60px;
	}
	.step3 .sealMessage tbody .right div{
		width: 20px;
		height: 20px;
		border: 1px solid #ddd;
		margin: 0 auto;
	}
	.step3 .sealMessage dd {
		font-size: 14px;
		color: #666;
		width: auto;
		text-align: center;
		padding-top: 5px;
		margin-left: 30px;
		font-weight: bold;
		display: inline-block;
	}
	
	.step3 .sealMessage .search_input {
		font-size: 14px;
		padding: 4px 8px;
		border: 1px solid #CCC;
		border-radius: 5px;
		padding-right: 20px;
		font-weight: 100;
	}
	
	.step3 .sealMessage .public {
		display: inline-block;
	}
	
	.step3 .sealMessage .current {
		display: inline-block;
		margin-left: 30px;
	}
	
	.step3 .sealMessage .area {
		margin-top: 20px;
		height: 40px;
	}
	
	.step3 .sealMessage table {
		margin-bottom: 0px;
	}
	
	.step3 .sealMessage table tr{
		border-left:1px solid #ddd ;
		border-right: 1px solid #ddd;
	}
	.step3 .sealMessage table tr td.currentRight {
		height: 32px;
		width: 32px;
		margin-left: 10px;
		background: url(../../../../app/asset/img/currentRight.png) no-repeat center;
	}
	
	.step3 .sealMessage table tr:hover {
		background: #99c6ff;
	}
	
	.table-striped tbody tr:nth-of-type(odd) {
		background-color: #FFF;
	}
	
	.step3 tbody {
		border-bottom: 1px solid #ddd;
	}
	
	.step3 .sealMessage table th {
		border-top: 1px solid #FCA768;
		background: #F5F5F5;
		height: 40px;
		text-align: left;
	}
	
	.step3 .sealMessage table th tr {
		height: 40px;
	}
	
	.step3 nav {
		text-align: center;
	}
	
	.step3 .sealMessage .sealShopResult {
		padding: 20px 0;
		font-size: 14px;
		text-align: center;
		color: red;
		display: none;
	}
	
	.step3 .go {
		height: 36px;
		width: 375px;
		margin: 25px auto 0px;
	}
	
	.step3 .go a {
		display: inline-block;
		height: 36px;
		width: 170px;
		text-align: center;
		font-size: 14px;
		text-decoration: none;
	}
	
	.step3 .go a#goStep2 {
		color: #666666;
	}
	
	.step3 .go a.btn-ay {
		color: #ffffff;
		background-color: #00acff;
		border-color: #00acff;
	}
	
	.uploadPhoto .modal-footer {
		display: none;
	}
	
	.uploadPhoto .bootbox-body {
		text-align: center;
		padding: 10px 0;
		font-size: 16px;
	}
	
	form .formPub {
		height: 10px;
		width: 163px;
		/*background: #000;*/
		border: 2px solid #3d94ff;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -82px;
		margin-top: -5px;
		border-radius: 10px;
		padding: 1px;
	}
	
	form .formPub .progress {
		height: 4px;
		background: #3d94ff;
	}
	
	.step3 .bankScan,
	.step3 .tradeScan,
	.step3 .legalScan {
		display: none;
	}

</style>