<div class="page-kd upkey">
	<div class="tabbox boxshow">
		<div class="title">主体信息</div>
		<table class="table table-bordered usertab">
			<tbody>
				<tr>
					<th>单位名称：</th>
					<td>
						<span class="ok">
							<span class="text">深圳市安印科技有限公司</span>
							<span class="bginfo"></span>
						</span>
						<span class="new">深圳市安印科技有限责任公司</span>
					</td>
				</tr>
				<tr>
					<th>单位地址：</th>
					<td>
						<div class="ok">
							<span class="text">深圳市南山区粤海街道科技园科技中一路创业印章大厦二楼</span>
							<span class="bginfo"></span>
						</div>
						<div class="new">深圳市南山区粤海街道科技园科技中一路创业印章大厦三楼</div>
					</td>
				</tr>
				<tr>
					<th>营业执照：</th>
					<td>
						<span class="">
							<span class="text">440301112242166</span>
							<span class="bginfo"></span>
						</span>
						<span class="new"></span>
					</td>
				</tr>
				<tr>
					<th>统一社会信用代码：</th>
					<td>
						<span class="">
							<span class="text">91440330326535080A</span>
							<span class="bginfo"></span>
						</span>
						<span class="new"></span>
					</td>
				</tr>
				<tr>
					<th>法定代表人：</th>
					<td>
						<span class="">
							<span class="text">杨瑞香</span>
							<span class="bginfo"></span>
						</span>
						<span class="new"></span>
					</td>
				</tr>
			</tbody>			
		</table>
	</div>
	<div class="tabbox boxshow sealMSG">
		<div class="title">电子印章信息</div>
		<table class="table table-bordered usertab">
			<tbody>
				<tr>
					<th>印章名称：</th>
					<td>
						<div class="ok">
							<span class="text">电子印章样品专用章（01）</span>
							<span class="bginfo"></span>
						</div>
						<div class="new">电子行政章</div>
					</td>
				</tr>
				<tr>
					<th>印章编号：</th>
					<td>
						<span class="">
							<span class="text">e4451231541021</span>
							<span class="bginfo"></span>
						</span>
						<span class="new"></span>
					</td>
				</tr>
				<tr>
					<th>印章生效时间：</th>
					<td>
						<span class="">
							<span class="text">2017/2/2 00:00:00</span>
							<span class="bginfo"></span>
						</span>
						<span class="new"></span>
					</td>
				</tr>
				<tr>
					<th>印章失效时间：</th>
					<td>
						<span class="ok">
							<span class="text">2019/2/2 00:00:00</span>
							<span class="bginfo"></span>
						</span>
						<span class="new">2021/2/2 00:00:00</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="upexplain">请将该UKEY插入电脑后，点击“<span class="uodate">更新证书</span>”</div>
	<div class="update">
		<a class="btn btn-ay" id="updatekey" href="javascript:;">更新证书</a>
	</div>
</div>
<style>
	.upkey{
		margin-top: 20px;
	}
	.upkey .title{
		padding: 10px 25px;
		font-weight: 600;
	}
	.sealMSG{
		margin-top: 20px;
	}
	.uodate{
		color: #3db6fd;
	}
    .h-title { height: 20px; margin-top: 20px; margin-bottom: 20px; font-size: 16px; line-height: 20px; font-weight: 600; border-left: 6px solid #0073bd; padding-left: 15px; }
    /*用户表格*/
    .tabbox { overflow: hidden; padding-bottom: 20px;}
    .usertab { width: 1050px; margin:0px 25px; }
    .usertab thead tr th,
    .usertab thead tr td,
    .usertab tbody tr th,
    .usertab tbody tr td { border: 1px solid #dedede; vertical-align: middle; font-size: 14px; }
    .usertab thead tr th { font-weight: 600; background: #f0f0f0; }
    .usertab tbody tr th { color: #333; font-weight: 400; width: 14%; text-align: right; background: #f6fafe;}
    .usertab tbody tr td { color: #666; }
    
    .usertab td>span,.usertab td>div{ position: relative; padding-top: 5px; padding-bottom: 5px; margin-left: 10px;}
    .usertab td>span.new,.usertab td>div.new{ font-weight: 600 }
    td span.bginfo,td div.bginfo { color: #999; margin: 0 10px 0 20px }
    td span.text,td div.text { color: #666; }
    td span.bginfo:before ,td div.bginfo:before{ content:"无变更"; }
    td>span.ok .text ,td>div.ok .text { color: #999; }
    td>span.ok .bginfo,td>div.ok .bginfo { color: #44ce44; margin: 0px 10px 0 20px;}
    td>span.ok .bginfo:before,td>div.ok .bginfo:before { content:"变更为"; }
    .upexplain { height: 60px; line-height: 60px; text-align: right; }
    .update{ margin-bottom: 20px; }
    .update .btn { float: right; width: 160px;}
</style>