<div class="page-kd">
    <div class="header">
        <h1 class="top-logo hide-text">电子印章管理平台</h1>
    </div>
    <!-- 注册进度 -->
    <div class="jd-list">
        <ul>
            <li class="last ok"><span class="yuan">1</span>单位信息确认</li>
            <li class="middle ok"><span class="yuan">2</span>账号信息确认</li>
            <li class="middle ok"><span class="yuan">3</span>证照信息上传</li>
            <li class="first ok"><span class="yuan">4</span>等待审核</li>
        </ul>
    </div>

    <div class="reg-content">
        <div class="regok">
        	<div class="pass_ok"></div>
            <div class="pass_tit">恭喜您注册成功！</div>
            <!-- <div class="text">感谢您的注册！请重新登录，谢谢！</div> -->
            <div class="cash_text">
                <p>注册成功，您的红包兑奖码是：<span class="cash">KDJKLASF</span>，已将该兑奖码发送至您的手机请注意查收，请扫描下方二维码关注微信公众号：“<b>安印电子印章</b>” 后输入红包兑奖码即可领取！</p>
                <img class="qrcode" src="./app/asset/img/qrcode.jpg" alt="">
            </div>
            <a href="login.html" class="btn btn-ay">去登录</a>
        </div>
    </div>
</div>
<style>
    .regok a {
        margin: 0 auto;
        display: block;
        width: 120px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 30px;
    }
</style>