<div class="page-kd">
    <div class="header">
        <h1 class="top-logo hide-text">电子印章管理平台</h1>
    </div>
    <!-- 注册进度 -->
    <div class="jd-list">
        <ul>
            <li class="last ok"><span class="yuan">1</span>单位信息确认</li>
            <li class="middle ok"><span class="yuan">2</span>账号信息确认</li>
            <li class="middle ok"><span class="yuan">3</span>证照信息上传</li>
            <li class="first ok"><span class="yuan">4</span>等待审核</li>
        </ul>
    </div>

    <div class="reg-content">
        <div class="regok">
        	<div class="pass_ok"></div>
            <div class="pass_tit">恭喜您注册成功！</div>
            <div class="text">感谢您的注册！现进入审核阶段，审核通过后将短信通知您审核结果，请留意！</div>
            <a href="login.html" class="btn btn-ay">去登录</a>
        </div>
    </div>
</div>
<style>
    .regok a {
        margin: 0 auto;
        display: block;
        width: 120px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 60px;
    }
</style>