{{include "./header.html"}}
<div class="page-kd">
    <!-- 注册进度 -->
	<div class="jd-list">
		<ul>
			<li class="last ok"><span class="yuan">1</span>单位信息确认</li>
			<li class="middle ok"><span class="yuan">2</span>单位信息确认</li>
			<li class="middle"><span class="yuan">3</span>证照信息上传</li>
			<li class="first"><span class="yuan">4</span>等待审核</li>
		</ul>
		<!-- 已完成或当前步骤的li里添加OK样式 -->
	</div>
</div>
<div class="step2">
	<div class="Message">
		<div class="mainTitle">
			主体信息
		</div>
		<div class="mainSubstance">
			<div class="unitMessage form-group">
				<div class="col-sm-3 Name">单位名称：</div>
				<div class="col-sm-9 Content">深圳市安印科技有限公司</div>
			</div>
			<div class="unitMessage form-group">
				<div class="col-sm-3 Name">单位地址：</div>
				<div class="col-sm-9 Content">深圳市南山区粤海街道科技园科技中一路创业印章大厦</div>
			</div>
			<div class="unitMessage form-group">
				<div class="col-sm-3 Name">营业执照号：</div>
				<div class="col-sm-9 Content">440301112242166</div>
			</div>
			<div class="unitMessage form-group">
				<div class="col-sm-3 Name">统一社会信用代码：</div>
				<div class="col-sm-9 Content">91440300326535080A</div>
			</div>
			<div class="unitMessage form-group">
				<div class="col-sm-3 Name">法定代表人：</div>
				<div class="col-sm-9 Content">杨瑞香</div>
			</div>
		</div>
		<div class="mainTitle countMessage">账号信息</div>
		<form class="form-horizontal">
			<div class="form-group form-bottom">
				<label class="col-sm-3 control-label">账号名：</label>
				<div class="col-sm-5">
					<input type="text" class="form-control countPhone" placeholder="请输入11位手机号" maxlength="11">
				</div>
				<div class="col-sm-3 countPhone-error phoneErrTip errTip"></div>
			</div>
			<div class="form-group form-bottom">
				<label class="col-sm-3 control-label">验证码：</label>
				<div class="col-sm-5">
					<input type="text" maxlength="6" placeholder="请输入验证码" class="form-control countCode fl">
					<input type="button" class="btn btn-primary findPasswordCodeBtn fl" value="获取验证码" />
				</div>
				<div class="col-sm-3 findPasswordCodeBtn-error  codeErrTip errTip"></div>
			</div>
			<div class="form-group form-bottom">
				<label class="col-sm-3 control-label">法人身份证号：</label>
				<div class="col-sm-5">
					<input type="text" placeholder="请输入验证码" class="form-control legalID fl">
				</div>
				<div class="col-sm-3 legalID-error legalIDErrTip errTip"></div>
			</div>
		</form>
	</div>
	<div class="go">
		<a class="btn btn-default fl" id="goStep1" href="register.html#step1">上一步</a>
		<a class="btn btn-ay fr" data-id='goStep3' id="goStep3" >下一步</a>
	</div>
   
</div>

<style>
	.fl {
		float: left;
	}
	
	.fr {
		float: right;
	}
	
	.step2 {
		width: 1100px;
		/*height: 460px;*/
		margin: 40px auto 0;
	}
	.step2 .Message{
		margin-top: 30px; padding-bottom: 30px; background: #fff; border-radius: 4px; box-shadow: 0px 5px 17px 0px rgba(0, 13, 19, 0.04);
	}
	
	.step2 .mainTitle {
		height: 42px;
		line-height: 42px;
		border-bottom: 1px solid #dedede;
		padding-left: 30px;
		font-size: 14px;
		font-weight: 700;
	}
	
	.step2 .mainSubstance {
		margin-top: 20px;
	}
	
	.step2 .Message .unitMessage {
		height: 36px;
		line-height: 36px;
		font-size: 14px;
		color: #666;
		margin-bottom: 0px;
	}
	
	.step2 .Message .unitMessage .Name {
		text-align: right;
		color: #333;
		font-weight: 600;
	}

	.step2 .Message .unitMessage .Content {
		padding-left: 0;
        color: #666;
	}

	.step2 .countMessage {
		margin-top: 15px;
	}
	
	.step2 .form-horizontal {
		margin: 30px 0 0;
	}
    .step2 .form-horizontal .form-bottom {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
     }
     .step2 .form-horizontal .form-bottom .col-sm-5 {
         padding-left: 0;
         padding-right: 0;
     }

	.step2 .countCode {
		width: 60%;
	}
	
	.step2 .findPasswordCodeBtn {
		width: 40%;
		background-color: #00acff;
		border: 1px solid #00acff;
	}
	
	.step2 .phoneErrTip {
		/*display: none;*/
		color: red;
	}
	
	.step2 .codeErrTip {
		/*display: none;*/
		color: red;
	}
	
	.step2 .legalIDErrTip {
		/*display: none;*/
		color: red;
	}
	.step2 .errTip{
		margin-top: 5px;
	}
	.step2 .go{
		height: 36px;
		width: 375px;
		margin: 25px auto 0px;
	}
	.step2 .go a{
		display: inline-block;
		height: 36px;
		width: 170px;
		text-align: center;
		font-size: 14px;
		text-decoration: none;
	}
	.step2 .go a#goStep1{
		color: #666666;
		
	}
	.step2 .go a#goStep3{
		color: #ffffff;
	}
</style>