<div id="dialog">
    <!--dialog样式统一start-->
    <!--common为统一的风格;按钮风格也统一在common下控制
msg1模板warning
msg2模板短信
msg3双行文本；
msg4单行无按钮；
msg5单行有按钮
msg6 有input的单行；
-->

    <!--dialog样式统一end-->
    
    <!-- 未实名提示 -->
    <div class="realname">
        <div class='title'>未实名提示</div>
        <div class='msg1'>您的账号实名仍在审核状态，审核通过后将短信通知您审核结果，请留意。</div>
    </div>

    <div class="lossEseal">
        <div class='title'>预挂失电子印章提示</div>
        <div class='msg1'>您选择预挂失“电子印章样品专用章（01）”</br>该电子印章相关功能将暂停使用</div>
        <div class="msg2">
            <div class="input-group">
                <input type="text" class="form-control checkSmsCode" placeholder="请输入验证码" aria-describedby="basic-addon1">
                <span class="input-group-addon"><button id="resend" disabled="disabled">重新发送(60)</button></span>
            </div>
            <p>验证码已通过短信发送到登录帐号上，5分钟内有效</p>
        </div>
        <div class='msg3'>已成功预挂失“电子印章样品专用章（01）”，请在7个工作日内携带法人身份证、营业执照（副本）前往门店完成挂失操作。</div>
    </div>

    <div class="unfreezeEseal">
        <div class='title'>解冻电子印章提示</div>
        <div class='msg1'>您选择解冻“电子印章样品专用章（01）”</br>请插入相对应的电子印章后点击“继续”</div>
        <div class='msg4'>正在读取UKEY,请稍后......</div>
        <div class='msg3'>未检测到UKEY，请确保UKEY已正确插入电脑并 安装 <a href="#">电子印章驱动程序</a></div>
        <div class='msg5 discrepancy'>您插入的UKEY与所选UKEY不符，请重新插入</a>
        </div>
        <div class="msg6">
            <div class="input-group">
                <label for="">请输入PIN码</label>
                <input type="text" class="form-control" placeholder="请输入验证码" aria-describedby="basic-addon1">
                <!--<span class="input-group-addon" id="basic-addon1">重新发送</span>-->
            </div>
            <p>PIN码不正确，请重试</p>
        </div>
        <div class="msg5">已成功解冻“电子印章样品专用章（01）”正在读取UKEY,请稍后......</div>
    </div>

    <div class="logoutEseal">
        <div class='title'>注销电子印章提示</div>
        <div class="log1">
            <h3>用户责任书</h3>
            <p>
                本用户责任书由深圳市安印科技有限公司（以下简称安印）拟定，用户签字确认后表示同意接受以下所有条款。用户应认真阅读本《用户责任书》中的各条款。“安印电子印章安全认证信息平台”、“安印电子印章签章软件”是安印印章研发的电子印章应用方案，相关的技术和服务依据《中国人民共和国电子签名法》和《CA电子认证业务规则》，已在中华人民共和国国家版权局申请软件著作权登记证书。与本产品相关的版权等知识产权，以及与本产品相关的所有信息内容，均受著作权法和国际著作权条约以及其他知识产权法律法规的保护。
            </p>
            <p>
                安印及第三方CA认证中心为用户提供合法的电子印章及数字证书的申请、审核、制作、签发和管理等服务。为明确各方的义务和责任，本责任书特对相关事项做出相关约定，所有申请和使用电子印章及数字证书的用户均同意并接受如下条款：
            </p>
            <ul>
                <li>
                    <p>
                        一. 电子印章及数字证书申请主体承担证书使用过程中所发生行为的法律责任。安印及第三方CA认证中心签发的电子印章及数字证书只能用于在网络（Internet/Intranet/Extranet）上标识用户身份、确保电子数据的保密性、完整性和不可抵赖性。电子印章及数字证书不能用于其他任何用途，对用于其他用途引起的一切法律后果，由申请者承担。
                    </p>
                </li>
                <li>
                    <p>
                        二. 用户在申请和使用电子印章及数字证书时，负有下列义务：
                    </p>
                    <ol type=一 start=一>
                        <li>用户有义务提供真实、完整、准确的材料和信息，不得提供虚假、无效的材料和信息；</li>
                        <li>用户应当妥善保管所签发的电子印章及数字证书密码信封，不得泄漏或交付他人；</li>
                        <li>用户在使用自己的电子印章及数字证书时，应当使用可依赖、安全的系统；</li>
                    </ol>
                </li>
            </ul>
            <p class="agree">
                <input type="checkbox" id="agreeLogout">
                <label for="agreeLogout">我已阅读《用户责任书》并对此无异议</label>
                </br>
                <span>请勾选后再点击“继续”</span>
            </p>

        </div>
        <div class='msg1'>您选择注销“电子印章样品专用章（01）”</br>请插入有权限的电子印章后点击“继续”</div>
        <div class='msg4'>正在读取UKEY,请稍后......</div>
        <div class='msg5'>未检测到UKEY，请确保UKEY已正确插入电脑并 安装 <a href="#">电子印章驱动程序</a></div>
        <div class='msg5'>您插入的UKEY与所选UKEY不符，请重新插入</a>
        </div>
        <div class="msg6">
            <div class="input-group">
                <label for="">请输入PIN码</label>
                <input type="text" class="form-control" placeholder="请输入验证码" aria-describedby="basic-addon1">
                <!--<span class="input-group-addon" id="basic-addon1">重新发送</span>-->
            </div>
            <p>PIN码不正确，请重试</p>
        </div>
        <div class="msg4">已成功注销“电子印章样品专用章（01）”</div>
        <div class="msg2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请输入验证码" aria-describedby="basic-addon1">
                <span class="input-group-addon" id="basic-addon1">重新发送</span>
            </div>
            <p>验证码已通过短信发送到登录帐号上，5分钟内有效</p>
        </div>
    </div>


    <div class="closeAllow">
        <div class='title'>关闭登录权限提示</div>
        <div class='msg1'>最后一枚电子印章的登录权限不允许关闭</div>
        <div class='msg1'>您选择关闭“电子印章样品专用章（01）”的登录权限</br>请插入相对应的电子印章后点击“继续”</div>
        <div class='msg4'>正在读取UKEY,请稍后......</div>
        <div class='msg3'>未检测到UKEY，请确保UKEY已正确插入电脑并 安装 <a href="#">电子印章驱动程序</a></div>
        <div class='msg5 discrepancy'>您插入的UKEY与所选UKEY不符，请重新插入</a>
        </div>
        <div class="msg6">
            <div class="input-group">
                <label for="">请输入PIN码</label>
                <input type="text" class="form-control" placeholder="请输入验证码" aria-describedby="basic-addon1">
                <!--<span class="input-group-addon" id="basic-addon1">重新发送</span>-->
            </div>
            <p>PIN码不正确，请重试</p>
        </div>
        <div class="msg4">已成功关闭“电子印章样品专用章（01）”的登录权限</div>
    </div>

    
    <div class="openAllow">
        <div class='title'>开启登录权限提示</div>
        <!--<div class='msg1'>最后一枚电子印章的登录权限不允许关闭</div>-->
        <div class='msg1'>您选择开启“电子印章样品专用章（01）”的登录权限</br>请插入相对应的电子印章后点击“继续”</div>
        <div class='msg4'>正在读取UKEY,请稍后......</div>
        <div class='msg3'>未检测到UKEY，请确保UKEY已正确插入电脑并 安装 <a href="#">电子印章驱动程序</a></div>
        <div class='msg5 discrepancy'>您插入的UKEY与所选UKEY不符，请重新插入</a>
        </div>
        <div class="msg6">
            <div class="input-group">
                <label for="">请输入PIN码</label>
                <input type="text" class="form-control" placeholder="请输入验证码" aria-describedby="basic-addon1">
                <!--<span class="input-group-addon" id="basic-addon1">重新发送</span>-->
            </div>
            <p>PIN码不正确，请重试</p>
        </div>
        <div class="msg4">已成功开启“电子印章样品专用章（01）”的登录权限</div>
    </div>
</div>