<!-- 用户头部 -->
<div class="u-head">
    <div class="page-kd">
        <h1 class="top-logo hide-text">电子印章管理平台</h1>
        <div class="rightbox">
            <ul class="menu">
                <li><a class="active nav1 nav_index" href="index.html" title="首页">首页</a></li>
                <li><a class="nav2 nav_admin" href="admin.html" title="印章管理">印章管理</a></li>
                <li><a class="nav3 nav_orders" href="orders.html" title="订单中心">订单中心</a></li>
                <li><a class="nav4 nav_logs" href="logs.html" title="日志记录">日志记录</a></li>
            </ul>
            <ul class="utool">
                <li><a class="locked hide-text" id="" href="javascript:;" title="解密"><span>解密</span></a></li>
                <li class="set"><a class="tools hide-text" id="" href="javascript:;" title="设置"><span>工具</span></a></li>
                <li><a class="logout" id="" href="javascript:;" title="退出系统">退出</a></li>
            </ul>
        </div>

    </div>
</div>
<style>
    .u-head ul.utool .set{
        display: none;
    }
</style>