<!-- 用户头部 -->
<div class="u-head">
	<div class="page-kd">
		<h1 class="top-logo hide-text">电子印章管理平台</h1>
		<div class="rightbox">
			<ul class="menu">
				<li><a class="active" href="javascript:;" title="首页">首页</a></li>
				<li><a class="" href="javascript:;" title="印章管理">印章管理</a></li>
				<li><a class="" href="javascript:;" title="订单中心">订单中心</a></li>
				<li><a class="" href="javascript:;" title="日志记录">日志记录</a></li>
			</ul>
			<ul class="utool">
				<li><a class="locked hide-text" id="" href="javascript:;" title="锁定"><span>锁定</span></a></li>
				<li><a class="tools hide-text" id="" href="javascript:;" title="设置"><span>工具</span></a></li>
				<li><a class="logout" id="" href="javascript:;" title="退出系统">退出</a></li>
			</ul>
		</div>
		
	</div>
</div>