<div id="dialog">
    <div class="lossEseal">
        <div class='title'>预挂失电子印章提示</div>
        <div class='msg1'>您选择预挂失“电子印章样品专用章（01）”</br>该电子印章相关功能将暂停使用</div>
        <div class="msg2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请输入验证码" aria-describedby="basic-addon1">
                <span class="input-group-addon" id="basic-addon1">重新发送</span>
            </div>
            <p>验证码已通过短信发送到登录帐号上，5分钟内有效</p>
        </div>
        <div class='msg3'>已成功预挂失“电子印章样品专用章（01）”，请在7个工作日内携带法人身份证、营业执照（副本）前往门店完成挂失操作。</div>
    </div>
    <div class="unfreezeEseal">
        <div class='title'>解冻电子印章提示</div>
        <div class='msg1'>您选择解冻“电子印章样品专用章（01）”</br>请插入相对应的电子印章后点击“继续”</div>
        <div class='msg2'>正在读取UKEY,请稍后......</div>
        <div class='msg3'>未检测到UKEY，请确保UKEY已正确插入电脑并 安装 <a href="#">电子印章驱动程序</a></div>
        <div class='msg4'>您插入的UKEY与所选UKEY不符，请重新插入</a></div>
        <div class="msg5">
            <div class="input-group">
                <label for="">请输入PIN码</label>
                <input type="text" class="form-control" placeholder="请输入验证码" aria-describedby="basic-addon1">
                <!--<span class="input-group-addon" id="basic-addon1">重新发送</span>-->
            </div>
            <p>PIN码不正确，请重试</p>
        </div>
        <div class="msg6">已成功解冻“电子印章样品专用章（01）”正在读取UKEY,请稍后......</div>
    </div>
</div>