<div class="step4">
	<div class="title">
		订单确认-<span>新办电子印章缴费</span>
	</div>
	<div class="Message">
		<div class="mainTitle">
			订单信息
		</div>
		<div class="orderMessage">
			<div class="orderList">
				<div class="order">
					<span class="serial">1</span><span class="sealName">安印电子行政章</span><span class="service">2年服务费</span> <span class="price">360元</span>
				</div>
				<div class="order">
					<span class="serial">2</span><span class="sealName">安印电子行政章</span><span class="service">2年服务费</span> <span class="price">360元</span>
				</div>
			</div>
			<div class="orderYear">
				<div class="year">
					<div class="licence">2年</div>
					<div class="dateline">电子印章有效期</div>
				</div>
			</div>
			<div class="orderTips">
				注：赠送2年保修
			</div>
			<div class="bill">
				<form class="form-horizontal">
					<div class="form-group form-bottom">
						<label class="col-sm-2 control-label">是否开具发票：</label>
						<div class="col-sm-5">
							<label class="radio-inline">
  								<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked="checked"> 是
							</label>
							<label class="radio-inline">
  								<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 否
							</label>
						</div>
					</div>
					<div class="form-group form-bottom">
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-4">
							<input type="text" placeholder="发票抬头填写个人/单位名称" class="form-control countCode fl">
						</div>
						<!--<div class="col-sm-3 legalIDErrTip errTip">法人身份证号不正确</div>-->
					</div>
					<div class="form-group form-bottom downLine">
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-4">
							<div class="billTips">该订单仅提供电子发票。<a href="order.html#step4#">什么是电子发票？</a></div>
						</div>
						<!--<div class="col-sm-3 legalIDErrTip errTip">法人身份证号不正确</div>-->
					</div>
					<div class="form-group form-bottom">
						<label class="col-sm-2 control-label">付款方式：</label>
						<div class="col-sm-10">
							<div class="pay">
								<div class="wepay"></div>
								<div class="alipay"></div>
								<div class="unionpay"></div>
							</div>
						</div>
						<!--<div class="col-sm-3 legalIDErrTip errTip">法人身份证号不正确</div>-->
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="gopay">
		<div class="fr">
			<span class="realPay">实付金额：</span> <span class="money">360000元</span> <span class="account">去结算</span>
		</div>	
	</div>
</div>
<a class="btn btn-ay fr" href="order.html#step3">上一步</a>
<style>
	.fl {
		float: left;
	}
	
	.fr {
		float: right;
	}
	
	.step4>.title {
		height: 20px;
		margin: 17px 0 20px;
		padding-left: 15px;
		font-size: 16px;
		font-weight: 600;
		border-left: 6px solid #0073bd;
	}
	
	.step4 .title span {
		font-weight: 500;
	}
	
	.step4 .Message {
		margin-top: 30px;
		padding-bottom: 15px;
		background: #fff;
		border-radius: 4px;
		box-shadow: 0px 5px 17px 0px rgba(0, 13, 19, 0.04);
	}
	
	.step4 .mainTitle {
		height: 42px;
		line-height: 42px;
		border-bottom: 1px solid #dedede;
		padding-left: 30px;
		font-size: 14px;
		font-weight: 700;
	}
	
	.step4 .orderMessage {
		width: 1000px;
		margin: 0 auto;
		padding-top: 28px;
	}
	
	.step4 .orderMessage .orderList {
		display: inline-block;
	}
	
	.step4 .orderMessage .order {
		width: 496px;
		height: 60px;
		margin-bottom: 40px;
		border: 1px dashed #e0e0e0;
		margin-bottom: 28px;
	}
	
	.step4 .orderMessage .order span {
		margin-top: 15px;
	}
	
	.step4 .orderMessage .order .serial {
		display: inline-block;
		width: 30px;
		height: 30px;
		border: 1px solid #e0e0e0;
		border-radius: 15px;
		text-align: center;
		line-height: 30px;
		margin-left: 22px;
	}
	
	.step4 .orderMessage .order .sealName {
		color: #333333;
		margin-left: 22px;
	}
	
	.step4 .orderMessage .order .service {
		margin-left: 38px;
		height: 24px;
		width: 94px;
		border: 1px solid #00acff;
		color: #00acff;
		text-align: center;
		line-height: 24px;
		padding: 7px 15px;
	}
	
	.step4 .orderMessage .order .price {
		margin-left: 48px;
		color: #00acff;
		font-size: 16px;
	}
	
	.step4 .orderYear {
		width: 280px;
		height: 110px;
		float: right;
		border-left: 1px solid #dedede;
	}
	
	.step4 .orderYear .year {
		width: 100px;
		height: 45px;
		margin: 25px auto;
	}
	
	.step4 .orderYear .year .licence {
		color: #00acff;
		font-size: 20px;
		text-align: center;
	}
	
	.step4 .orderYear .year .dateline {
		text-align: center;
	}
	
	.step4 .orderTips {
		height: 30px;
		color: #999999;
		border-bottom: 1px dashed #999999;
	}
	.step4 form {
		margin-top: 20px;
	}
	.step4 form .downLine{
		padding-bottom: 20px;
		border-bottom:1px dashed #999999 ;
	}
	.step4 form .control-label{
		text-align: left;
	}
	.step4 form .pay div{
		height: 42px;
		width: 154px;
		display: inline-block;
		border: 1px solid #dedede;
		margin-right: 10px;
		cursor: pointer;
	}
	.step4 form .pay div.wepay{
		background: url(../../../../asset/img/c-1-6-4_10.jpg) no-repeat;
	}
	.step4 form .pay div.alipay{
		background: url(../../../../asset/img/c-1-6-4_12.jpg) no-repeat;
	}
	.step4 form .pay div.unionpay{
		background: url(../../../../asset/img/c-1-6-4_14.jpg) no-repeat;
	}
	.step4 .gopay{
		height: 56px;
		background: #ddd;
		margin-bottom: 50px;
	}
	.step4 .gopay .realPay{
		font-size: 16px;
		font-weight: 600;
		margin-right: 10px;
	}
	.step4 .gopay .money{
		font-size: 20px;
		font-weight: 600;
		color: #03adff;
		margin-right: 20px;
	}
	.step4 .gopay .account{
		display: inline-block;
		width: 170px;
		height: 100%;
		background: #03adff;
		color: #fff;
		line-height: 56px;
		text-align: center;
		font-size: 16px;
		cursor: pointer;
	}
	.step4 .go {
		height: 36px;
		width: 375px;
		margin: 25px auto 0px;
	}
	
	.step4 .go a {
		display: inline-block;
		height: 36px;
		width: 170px;
		text-align: center;
		font-size: 14px;
		text-decoration: none;
	}
	
	.step4 .go a#goStep2 {
		color: #666666;
	}
	
	.step4 .go a.btn-ay {
		color: #ffffff;
		background-color: #00acff;
		border-color: #00acff;
	}
	/*弹框*/
	.errorTips .title{
		font-weight: 600;
	}
	.errorTips .clear{
		clear: both;
	}
	.errorTips .message .icon{
		width: 25%;
		height: 110px;
		float: left;
		padding-left: 48px;
	}
	.errorTips .message .icon span{
		display: inline-block;
		height: 46px;
		width: 46px;
		margin-top: 32px;
		background: url(../../../../asset/img/login3.png) no-repeat left bottom;
	}
	.errorTips .message .errorOrderTips{
		width: 75%;
		float: left;
	}
	.errorTips .message .errorOrderTitle{
		font-size: 16px;
		margin: 10px;
	}
	.errorTips .message .errorOrderSeal span{
		display: inline-block;
		border: 1px dashed #ddd;
		margin: 0px 10px 10px 10px;
		padding: 10px;
	}
	.errorTips .message .errorOrderRed{
		margin-left: 10px;
		color: #f27272;
		font-size: 16px;
	}
	.errorTips .modal-footer{
		border: none;
		text-align: center;
		padding: 15px 0 30px;
	}
	.errorTips .modal-footer .btn1{
		width: 90px;
		height: 32px;
	}
	.errorTips .modal-footer .btn2,
	.errorTips .modal-footer .btn3{
		width: 100px;
		height: 32px;
		color: #fff;
		background: #00acff;
		margin-left: 15px;
	}
</style>