<div class="page-kd upkey">
	<h2 class="h-title">证书更新</h2>
	<div class="tabbox boxshow">
		<table class="table table-bordered usertab">
			<thead>
				<tr>
					<th colspan="4" class="typename">主体信息</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>单位名称</th>
					<td><div class="textcon ok"><span class="text">深圳市安印科技有限公司</span><span class="bginfo"></span></div><div class="textcon new">深圳市安印科技有限责任公司</div></td>
					<th>单位地址</th>
					<td><div class="textcon ok"><span class="text">深圳市南山区粤海街道科技园科技中一路创业印章大厦二楼</span><span class="bginfo"></span></div><div class="textcon new">深圳市南山区粤海街道科技园科技中一路创业印章大厦三楼</div></td>
				</tr>
				<tr>
					<th>营业执照</th>
					<td><div class="textcon"><span class="text">440301112242166</span><span class="bginfo"></span></div></td>
					<th>统一社会信用代码</th>
					<td><div class="textcon"><span class="text">91440330326535080A</span><span class="bginfo"></span></div></td>
				</tr>
				<tr>
					<th>法定代表人</th>
					<td><div class="textcon"><span class="text">杨瑞香</span><span class="bginfo"></span></div></td>
					<th></th>
					<td></td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th colspan="4" class="typename">印章信息</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>印章名称</th>
					<td><div class="textcon ok"><span class="text">电子印章样品专用章（01）</span><span class="bginfo"></span></div><div class="textcon new">电子行政章</div></td>
					<th>印章编号</th>
					<td><div class="textcon"><span class="text">e4451231541021</span><span class="bginfo"></span></div></td>
				</tr>
				<tr>
					<th>印章生效时间</th>
					<td><div class="textcon"><span class="text">2017/2/2 00:00:00</span><span class="bginfo"></span></div></td>
					<th>印章失效时间</th>
					<td><div class="textcon ok"><span class="text">2019/2/2 00:00:00</span><span class="bginfo"></span></div><div class="textcon">2021/2/2 00:00:00</div></td>
				</tr>
			</tbody>
		</table>
		
		<div class="upexplain">请将该UKEY插入电脑后，点击“更新证书”<a class="btn btn-ay" id="updatekey" href="javascript:;">更新证书</a></div>
	</div>
</div>
<style>
    .h-title { height: 20px; margin-top: 20px; margin-bottom: 20px; font-size: 16px; line-height: 20px; font-weight: 600; border-left: 6px solid #0073bd; padding-left: 15px; }
    /*用户表格*/
    .tabbox { overflow: hidden; }
    .usertab { width: 1050px; margin: 25px; }
    .usertab thead tr th,
    .usertab thead tr td,
    .usertab tbody tr th,
    .usertab tbody tr td { border: 1px solid #dedede; vertical-align: middle; font-size: 14px; }
    .usertab thead tr th { font-weight: 600; background: #f0f0f0; }
    .usertab tbody tr th { color: #333; font-weight: 400; width: 14%; text-align: center; }
    .usertab tbody tr td { color: #666; }

    .usertab .textcon { position: relative; padding-right: 4em; padding-top: 5px; padding-bottom: 5px; }
    .textcon .bginfo { color: #999; position: absolute; top: 5px; right: .5em; }
    .textcon .text { color: #666; }
    .textcon .bginfo { color: #999; }
    .textcon .bginfo:before { content:"无变更"; }
    .textcon.ok .text  { color: #999; }
    .textcon.ok .bginfo { color: #00acff;}
    .textcon.ok .bginfo:before { content:"变更为"; }
    .upexplain { margin-top: 80px; height: 60px; background: #ddd; text-align: right; }
    .upexplain .btn { width: 170px; height: 60px; border-radius: 0; font-size: 18px; line-height: 48px; margin-left: 12px; }
</style>