<div class="intnav">
	<div class="page-kd">
        <ul>
            <li><a class="active" href="logs.html">签章日志</a></li>
            <li><a href="#logs2">操作日志</a></li>
        </ul>
        <div class="search">

				<div class="inputbox">
					<input class="search-input form-control" id="keyword" name="keyword" type="text" placeholder="请输入搜索关键字">
					<button class="submit" id="search_submit" type="button" ><em></em></button>
				</div>
				<div class="more" tabindex="-1">
					<div class="state">
						<span class="labelname">状态：</span>
						<span class="select-box">
							<label class="selecticon" for="state"></label>
							<select id="s_state">
								<option value="0">全部</option>
								<option value="1">完成</option>
								<option value="2">失败</option>
							</select>
						</span>
					</div>
					<div class="type">
						<span class="labelname">业务类型：</span>
						<span class="select-box">
							<label class="selecticon" for="type"></label>
							<select id="s_type">
								<option>全部</option>
								<option>行政章</option>
								<option>财务章</option>
							</select>
						</span>
					</div>
					<div class="date">
						<span class="labelname">日期：</span>
						<input class="date-input form-control" id="date1" name="date1" type="text" placeholder="请选择开始日期"> - 
						<input class="date-input form-control" id="date2" name="date2" type="text" placeholder="请选择结束日期">
					</div>
				</div>
                <div class="nosearch"><em></em><i class="glyphicon glyphicon-remove" id="close" title="关闭"></i>解密信息后可使用搜索功能</div>

        </div>
    </div>
</div>

<div class="page-kd">
	<h2 class="m-title">签章日志</h2>
    <div class="mainbox">
        <div class="jilulist boxshow">
            <div class="listtitle">
                <span class="title col1">签章时间</span>
                <span class="title col2">文档名</span>
                <span class="title col3">印章名</span>
                <span class="title col4">签章类型</span>
                <span class="title col5">状态</span>
            </div>
            <ul class="listtext">
                {{each data as value i}}
                <li class="">
                    <div class="file">
                        <span class="text col1">{{data[i].signDate}}</span>
                        <span class="text col2 hide-text" title="{{data[i].fileName}}">{{data[i].fileName}}</span>
                        <span class="text col3">{{data[i].signname}}</span>
                        <span class="text col4">{{data[i].sealnetType}}</span>
                        <span class="text col5">
                            {{if data[i].Status == 1}}成功{{/if}}
                            {{if data[i].Status == 2}}失败{{/if}}
                        </span>
                    </div>
                    <div class="details">
                        <dl class="signet">
                            <dt>文档信息
                                {{if data[i].Status == 1}}<span class="state">正常</span>{{/if}}
                                {{if data[i].Status == 2}}<span class="state no">异常</span>{{/if}}
                            </dt>
                            <dd class="hide-text">文档名称：<span>{{data[i].fileName}}</span></dd>
                            <dd>签章时间：<span>{{data[i].signDate}}</span></dd>
                            <dd>文档大小：<span>{{data[i].fileSize}}</span></dd>
                            <dd>文档哈希值：<span>{{data[i].fileHash}}</span></dd>
                            <dd>签章类型：<span>{{data[i].sealnetType}}</span></dd>
                        </dl>
                        <dl class="signet">
                            <dt>印章信息</dt>
                            <dd>印章名称：<span>{{data[i].signname}}</span></dd>
                            <dd>印章编码：<span>{{data[i].sealCode}}</span></dd>
                            <dd>制作日期：<span>{{data[i].esealCreateTime}}</span></dd>
                            <dd>生效期：<span>{{data[i].validitybefore}}</span></dd>
                            <dd>失效期：<span>{{data[i].validityafter}}</span></dd>
                        </dl>
                        <dl class="signet help">
                            <dt>需要帮助？</dt>
                            <dd>新办理的电子印章无法使用，<a class="color1" href="#">了解详情</a></dd>
                            <dd><a class="color2" href="#">电子印章常用问题</a>，或 <a class="color2" href="#">联系客服</a></dd>
                        </dl>
                        <dl class="computer">
                            <dt>设备信息</dt>
                            <dd>设备IP：<span>{{data[i].clientIp}}</span></dd>
                            <dd>MAC地址：：<span>{{data[i].clientMac}}</span></dd>
                            <dd class="help">IP来源：<span>{{data[i].clientAdd}}</span></dd>
                            <dd>设备名称：<span>{{data[i].clientName}}</span></dd>
                            <dd>操作系统：<span>{{data[i].clientsSystem}}</span></dd>
                            <dd class="help">签章应用：<span>{{data[i].sealtype}}</span></dd>
                        </dl>
                    </div>
                </li>
                {{/each}}
                <!--li>
                    <div class="file">
                        <span class="text col1">2017/02/02 12:21:45</span>
                        <span class="text col2 hide-text" title="深圳市安印科技销售合同书.pdf">深圳市安印科技销售合同书pdf</span>
                        <span class="text col3">行政章</span>
                        <span class="text col4">骑缝签章</span>
                        <span class="text col5">成功</span>
                    </div>
                    <div class="details">
                        <dl class="signet">
                            <dt>文档信息<span class="state">正常</span></dt>
                            <dd class="hide-text">文档名称：<span>深圳市安印科技销售合同书.pdf</span></dd>
                            <dd>签章时间：<span>2017/2/2  12:22:01</span></dd>
                            <dd>文档大小：<span>12.4M</span></dd>
                            <dd>文档哈希值：<span>a518d940152480ac1800ad9f9902025e</span></dd>
                            <dd>签章类型：<span>骑缝签章</span></dd>
                        </dl>
                        <dl class="signet">
                            <dt>印章信息</dt>
                            <dd>印章名称：<span>电子行政章</span></dd>
                            <dd>印章编码：<span>e4403071111231</span></dd>
                            <dd>制作日期：<span>2017/2/1 14:12：54</span></dd>
                            <dd>有效期：<span>2016/12/12</span></dd>
                            <dd>失效期：<span>至2018/12/12</span></dd>
                        </dl>
                        <dl class="signet help">
                            <dt>需要帮助？</dt>
                            <dd>新办理的电子印章无法使用，<a class="color1" href="#">了解详情</a></dd>
                            <dd><a class="color2" href="#">电子印章常用问题</a>，或 <a class="color2" href="#">联系客服</a></dd>
                        </dl>
                        <dl class="computer">
                            <dt>设备信息</dt>
                            <dd>设备IP：<span>210.210.210.210</span></dd>
                            <dd>MAC地址：：<span>5D-21-D5-E1-28-6D</span></dd>
                            <dd class="help">IP来源：<span>中国广东省深圳市南山区</span></dd>
                            <dd>设备名称：<span>ABCDEFGHADFADF</span></dd>
                            <dd>操作系统：<span>windows7</span></dd>
                            <dd class="help">签章应用：<span>安印PDF客户端 v2.0.1.3</span></dd>
                        </dl>
                    </div>
                </li-->


            </ul>

            <nav class="pagelist" aria-label="Page navigation">
                <ul class="pagination" id="pageLimit">
                    <li class="PreviousPage">
                        <a aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="appendPage NextPage">
                        <a aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>
    </div>
</div>