<div class="logcon">
    <div class="page-kd">
        <h2 class="m-title"><span>签章日志</span></h2>
        <div class="mainbox">
            <div class="jilulist boxshow">
                <div class="listtitle">
                    <span class="title col1">签章时间</span>
                    <span class="title col2">文档名</span>
                    <span class="title col3">印章名</span>
                    <span class="title col4">签章类型</span>
                    <span class="title col5">状态</span>
                </div>
                <ul class="listtext">
                    {{each data.list value i}}
                    <li>
                        <div class="file">
                            <span class="text col1">{{value.signTime}}</span>
                            <span class="text col2 hide-text" title="{{value.signetDocument}}">{{value.signetDocument}}</span>
                            <span class="text col3 hide-text">{{value.esealFullName}}</span>
                            <span class="text col4">{{value.signType==1?"单页签章":value.signType==2?"骑缝签章":value.signType==3?"手写签章":value.signType==4?"多页签章": "撤章"}}</span>
                            <span class="text col5">
                                {{if value.operateStatus == 0}}<span style="color:#08c34e">成功</span>{{/if}} {{if value.operateStatus == 1}}<span style="color:#f00">失败</span>{{/if}}
                            </span>
                        </div>
                        <div class="details">
                            <dl class="signet">
                                <dt>文档信息 {{if value.operateStatus == 0}}<span class="state">正常</span>{{/if}} {{if value.operateStatus == 1}}<span class="state no">异常</span>{{/if}}</dt>
                                <dd class="hide-text">文档名称：<span>{{value.signetDocument}}</span></dd>
                                <dd>签章时间：<span>{{value.signTime}}</span></dd>
                                <dd>文档大小：<span>{{value.signetDocumentSize==null?"0":value.signetDocumentSize}}M</span></dd>
                                <dd>文档哈希值：<span>{{value.signetDocumentHash}}</span></dd>
                                <dd>签章类型：<span>{{value.signType==1?"单页签章":value.signType==2?"骑缝签章":value.signType==3?"手写签章":value.signType==4?"多页签章": "撤章"}}</span></dd>
                            </dl>
                            <dl class="signet help">
                                <dt>印章信息</dt>
                                <dd class="hide-text">印章名称：<span>{{value.esealFullName}}</span></dd>
                                <dd>印章编码：<span>{{value.esealCode}}</span></dd>
                                <dd>制作日期：<span>{{value.esealCreateTime}}</span></dd>
                                <dd>印章生效期：<span>{{value.bizValidStart}}</span></dd>
                                <dd>印章失效期：<span>{{value.bizValidEnd}}</span></dd>
                            </dl>
                            <dl class="signet help">
                                <dt>设备信息</dt>
                                <dd class="hide-text">IP地址：<span></span>{{value.ip}}　{{value.ipLocation}}</span></dd>
                                <dd>MAC地址：<span>{{value.mac}}</span></dd>
                                <dd>设备名称：<span>{{value.clientOsName}}</span></dd>
                                <dd>操作系统：<span>{{value.clientOsEnv}}</span></dd>
                                <dd>签章应用：<span>{{value.clientDocEnv}}</span></dd>
                            </dl>
                            <dl class="computer help">
                                <dt>需要帮助？</dt>
                                <!-- <dd>电子印章使用记录异常？<a class="color1" href="admin.html">马上预挂失</a></dd> -->
                                <dd><a class="color1" href="//www.i-yin.net/index.php?c=article&a=type&tid=27" target="_blank">电子印章常用问题</a>，或
                                    <a class="color1" href="//www.i-yin.net/index.php?c=article&a=type&tid=28" target="_blank">联系客服</a>
                                </dd>
                            </dl>
                            <div class="togglehide"><em></em></div>
                        </div>
                    </li>
                    {{/each}}

                </ul>
            </div>
            
            <nav class="pagelist" aria-label="Page navigation">
                <div class="page_btip">当前第 {{ data.pageNum }}/{{ data.totalPages }} 页，共 {{ data.totalRows }} 条记录 </div>
                <ul class="pagination" id="pageLimit">
                    <li class="PreviousPage">
                        <a aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="index">
                        <a>{{value}}</a>
                    </li>
                    <li class="appendPage NextPage">
                        <a aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>
</div>