<div class="logcon">
    <div class="page-kd">
        <h2 class="m-title"><span>签章日志</span></h2>
        <div class="mainbox">
            <div class="jilulist boxshow">
                <div class="listtitle">
                    <span class="title col1">签章时间</span>
                    <span class="title col2">文档名</span>
                    <span class="title col3">印章名</span>
                    <span class="title col4">签章类型</span>
                    <span class="title col5">状态</span>
                </div>
                <ul class="listtext">
                    {{each data.list as value i}}
                    <li class="">
                        <div class="file">
                            <span class="text col1">{{value.signTime}}</span>
                            <span class="text col2 hide-text" title="{{value.signetDocument}}">{{value.signetDocument}}</span>
                            <span class="text col3">{{value.esealFullName}}</span>
                            <span class="text col4">{{value.signType}}</span>
                            <span class="text col5">
                                {{if value.operateStatus == 0}}<span style="color:#08c34e">成功</span>{{/if}}
                                {{if value.operateStatus == 1}}<span style="color:#f00">失败</span>{{/if}}
                            </span>
                        </div>
                        <div class="details">
                            <dl class="signet">
                                <dt>文档信息 {{if value.operateStatus == 0}}<span class="state">正常</span>{{/if}} {{if value.operateStatus == 1}}<span class="state no">异常</span>{{/if}}</dt>
                                <dd class="hide-text">文档名称：<span>{{value.signetDocument}}</span></dd>
                                <dd>签章时间：<span>{{value.signTime}}</span></dd>
                                <dd>文档大小：<span>{{value.signetDocumentSize}}M</span></dd>
                                <dd>文档哈希值：<span>{{value.signetDocumentHash}}</span></dd>
                                <dd>签章类型：<span>{{value.signType==1?"单页":value.signType==2?"批量":value.signType==3?"骑缝":value.signType==4?"手写":value.signType}}</span></dd>
                            </dl>
                            <dl class="signet">
                                <dt>印章信息</dt>
                                <dd>印章名称：<span>{{value.esealFullName}}</span></dd>
                                <dd>印章编码：<span>{{value.esealCode}}</span></dd>
                                <dd>制作日期：<span>{{value.esealCreateTime}}</span></dd>
                                <dd>生效期：<span>{{value.validStart}}</span></dd>
                                <dd>失效期：<span>{{value.validEnd}}</span></dd>
                            </dl>
                            <dl class="signet help">
                                <dt>需要帮助？</dt>
                                <dd>新办理的电子印章无法使用，<a class="color1" href="#">了解详情</a></dd>
                                <dd><a class="color2" href="#">电子印章常用问题</a>，或 <a class="color2" href="#">联系客服</a></dd>
                            </dl>
                            <dl class="computer">
                                <dt>设备信息</dt>
                                <dd>设备IP：<span>{{value.ip}}</span></dd>
                                <dd>MAC地址：<span>{{value.mac}}</span></dd>
                                <dd class="help">IP来源：<span>{{value.ipLocation}}</span></dd>
                                <dd>设备名称：<span>{{value.clientOsName}}</span></dd>
                                <dd>操作系统：<span>{{value.clientOsEnv}}</span></dd>
                                <dd class="help">签章应用：<span>{{value.clientDocEnv}}</span></dd>
                            </dl>
                        </div>
                    </li>
                    {{/each}}

                </ul>

                <nav class="pagelist" aria-label="Page navigation">
                    <ul class="pagination" id="pageLimit">
                        <li class="PreviousPage">
                            <a aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="index"><a>{{value}}</a></li>
                        <li class="appendPage NextPage">
                            <a aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>

</div>