<div class="intnav">
	<div class="page-kd">
        <ul>
            <li><a href="logs.html">签章日志</a></li>
            <li><a class="active" href="#logs2">操作日志</a></li>
        </ul>
    </div>
</div>

<div class="page-kd">
	<h2 class="m-title">操作日志</h2>
    <div class="mainbox">
        <div class="jilulist boxshow">
            <div class="listtitle">
                <span class="title col1">操作时间</span>
                <span class="title col2">操作类型</span>
                <span class="title col3">IP地址</span>
                <span class="title col4">参考地点</span>
            </div>
            <ul class="listtext">
                {{each data.list as value i}}
                <li>
                    <div class="file">
                        <span class="text col1">{{value.bizOperateTime}}</span>
                        <span class="text col2">{{value.bizOperateType}}</span>
                        <span class="text col3">{{value.bizOperateIp}}</span>
                        <span class="text col4 hide-text">{{value.bizOperateLocation}}</span>
                    </div>
                </li>
                {{/each}}
                <!--li>
                    <div class="file">
                        <span class="text col1">2017/02/02 12:21:45</span>
                        <span class="text col2">登录系统</span>
                        <span class="text col3">210.210.210.210</span>
                        <span class="text col4 hide-text">广东省 深圳市 福田区</span>
                    </div>
                </li-->

            </ul>

            <nav class="pagelist" aria-label="Page navigation">
                <ul class="pagination" id="pageLimit">
                    <li class="PreviousPage">
                        <a aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="index"><a>{{value}}</a></li>
                    <li class="appendPage NextPage">
                        <a aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>
    </div>
</div>

<style>
/*签章列表 */
.jilulist ul.listtext li .file { cursor: default; }
.jilulist .col1 { width: 25%; }
.jilulist .col2 { width: 20%; }
.jilulist .col3 { width: 30%; text-align: center; }
.jilulist .col4 { width: 25%; padding-left: 20px; }
</style>