<!-- 操作区域 -->
<div class="page-kd actions">
	<dl class="userinfo">
		<dt><span class="tximg"></span></dt>
		<dd class="name">欢迎您，<span id="gsname" title="深圳市创业印章科技有限公司">深圳市创业印章科技有限公司深圳市创业印章科技有限公司</span></dd>
		<dd class="renzheng"><span class="rzinfo ok"></span></dd>
		<dd class="logintime">上次登录：2017-06-28</dd>
	</dl>
	
	<ul class="actionlist">
		<li><a href="admin.html#step1"><em class="a-icon-1"></em>新办电子印章</a></li>
		<li><a href="admin.html#step4"><em class="a-icon-2"></em>电子印章续费</a></li>
		<li><a href="admin.html"><em class="a-icon-3"></em>登录权限设置</a></li>
	</ul>

</div>

<!--  中间内容 -->
<div class="page-kd content">
	<div class="left">
		<div class="xufei">
			<div class="t-title"><h2>电子印章有效期</h2><a class="more" href="">详情></a></div>
			<ul class="blist boxshow">
				<li><span class="name">电子行政章</span><span class="date">已过期</span><span class="operate"><a href="">立即续费></a></span></li>
				<li><span class="name">电子财务章</span><span class="date">3个月</span><span class="operate"><a href="">立即续费></a></span></li>
				<li><span class="name">电子合同章</span><span class="date">23个月</span><span class="operate"><a href="">立即续费></a></span></li>
			</ul>
		</div>
		
		<div class="help">
			<div class="t-title"><h2>常见问题汇总</h2><a class="more" href="">更多></a></div>
			<ul class="blist boxshow">
				<li><span class="arrow"></span><a href="">未安装驱动、驱动异常等问题</a></li>
				<li><span class="arrow"></span><a href="">单位印章未信息化备案问题</a></li>
				<li><span class="arrow"></span><a href="">公章未备案，非公章已备案问题</a></li>
			</ul>

		</div>
	</div>
	
	<div class="jilu">
		<div class="t-title"><h2>电子印章签章记录</h2><a class="more" href="">详情></a></div>
		<div class="jilulist boxshow">
			<ul>
				<li class="">
					<div class="file">
						<div class="date">12月12日</div>
						<p class="gsname">深圳市安印电子科技有限公司采购电子印章UKEY合同书.pdf</p>
						<p class="yzinfo"><span class="name">电子行政章</span><span class="type">单页签单</span></p>
					</div>
					<div class="details">
						<dl class="signet">
							<dt>操作信息</dt>
							<dd>操作时间：<span id="">2016-12-12 12:12:12</span></dd>
							<dd>应用版本：<span id="">office签章客户端V2.1.1.0</span></dd>
							<dd>操作时间：<span id="">成功</span></dd>
						</dl>
						<dl class="signet">
							<dt>印章信息</dt>
							<dd>印章名称：<span id="">电子行政章</span></dd>
							<dd>印章编码：<span id="">e4403071111231</span></dd>
							<dd>有效期：<span id="">2016/12/12至2018/12/12</span></dd>
						</dl>
						<dl class="computer">
							<dt>设备信息</dt>
							<dd>设备IP：<span id="">210.210.210.210</span></dd>
							<dd>MAC地址：：<span id="">5D-21-D5-E1-28-6D</span></dd>
							<dd>IP来源：<span id="">中国广东省深圳市南山区</span></dd>
							<dd>操作系统：<span id="">windows7</span></dd>
						</dl>
					</div>
				</li>
				<li>
					<div class="file">
						<div class="date">12月12日</div>
						<p class="gsname">深圳市安印电子科技有限公司采购电子印章UKEY合同书.pdf</p>
						<p class="yzinfo"><span class="name">电子行政章</span><span class="type">单页签单</span></p>
					</div>
					<div class="details">
						<dl class="signet">
							<dt>操作信息</dt>
							<dd>操作时间：<span id="">2016-12-12 12:12:12</span></dd>
							<dd>应用版本：<span id="">office签章客户端V2.1.1.0</span></dd>
							<dd>操作时间：<span id="">成功</span></dd>
						</dl>
						<dl class="signet">
							<dt>印章信息</dt>
							<dd>印章名称：<span id="">电子行政章</span></dd>
							<dd>印章编码：<span id="">e4403071111231</span></dd>
							<dd>有效期：<span id="">2016/12/12至2018/12/12</span></dd>
						</dl>
						<dl class="computer">
							<dt>设备信息</dt>
							<dd>设备IP：<span id="">210.210.210.210</span></dd>
							<dd>MAC地址：：<span id="">5D-21-D5-E1-28-6D</span></dd>
							<dd>IP来源：<span id="">中国广东省深圳市南山区</span></dd>
							<dd>操作系统：<span id="">windows7</span></dd>
						</dl>
					</div>
				</li>
				<li>
					<div class="file">
						<div class="date">12月12日</div>
						<p class="gsname">深圳市安印电子科技有限公司采购电子印章UKEY合同书.pdf</p>
						<p class="yzinfo"><span class="name">电子行政章</span><span class="type">单页签单</span></p>
					</div>
					<div class="details">
						<dl class="signet">
							<dt>操作信息</dt>
							<dd>操作时间：<span id="">2016-12-12 12:12:12</span></dd>
							<dd>应用版本：<span id="">office签章客户端V2.1.1.0</span></dd>
							<dd>操作时间：<span id="">成功</span></dd>
						</dl>
						<dl class="signet">
							<dt>印章信息</dt>
							<dd>印章名称：<span id="">电子行政章</span></dd>
							<dd>印章编码：<span id="">e4403071111231</span></dd>
							<dd>有效期：<span id="">2016/12/12至2018/12/12</span></dd>
						</dl>
						<dl class="computer">
							<dt>设备信息</dt>
							<dd>设备IP：<span id="">210.210.210.210</span></dd>
							<dd>MAC地址：：<span id="">5D-21-D5-E1-28-6D</span></dd>
							<dd>IP来源：<span id="">中国广东省深圳市南山区</span></dd>
							<dd>操作系统：<span id="">windows7</span></dd>
						</dl>
					</div>
				</li>
			</ul>
		</div>
	
	</div>
</div>
<style>
    .realName .modal-dialog {
        margin-top: 200px;
    }
    .realName .modal-header {
        border: 0;
        background: #f2f2f2;
        padding: 11px;
        border-radius: 4px;
        color: #333;
    }
    .realName .modal-body {
        height: 130px;
    }
    .realName .modal-header .title {
        font-size: 16px;
        font-weight: bolder;
    }
    .modal-dialog .modal-content{
        height: 250px;
        width: 544px;
        margin: 0 auto;
    }        
    .realName .modal-body .msg1 {
        margin: 0 65px 0 75px;
        color: #333;
        font-size: 14px;
        padding: 30px 0 30px 70px;
        background: url('../../../../asset/img/login3.png') no-repeat 0 -160px;
    }
    .realName .modal-footer {
        margin: 0 auto;
        text-align: center;
        border:0;
    }
     .realName .modal-footer button {
        padding: 0;
        margin: 0 10px;
        border: 0;
        width: 80px;
        height: 30px;
    }
    .realName .modal-footer button.btn1,
    .realName .modal-footer button a.return {
        color: #333;
        background: #ebebeb;
    }
    .realName .modal-footer button.btn2,
    .realName .modal-footer button a.continue {
        color: #fff;
        background: #00acff;
    }
    .realName .modal-footer button a {
        text-decoration: none;
        display: inline-block;
        zoom: 1;
        *display: inline;
        width: 80px;
        height: 30px;
        line-height: 30px;
    }
</style>